Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.4.0
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Updated entry point interface and added test for custom plugin.
  tests/backends/__init__.py
  tests/backends/dummy.py
  tests/test_custom_backend.py
  tripper/interface.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Remove duplicated test
  tests/test_custom_backend.py
Due: pylint-tests

Fixed pre-commit settings
  .pylintrc
  pyproject.toml
  tests/conftest.py
  tests/mappings/test_mappings.py
  tests/test_get_data.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/backends/collection.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/literal.py
  tripper/mappings/mappings.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Removed .pylintrc file
  .pylintrc
  pyproject.toml
Due: none

Disable pylint keyword arg check for entry_points(), since its arguments changes between Python versions and pylint is not clever enough to take the actual python version into account.
  tripper/triplestore.py
Due: pylint

fixing line too long pylint error
  tests/test_custom_backend.py
Due: pylint-tests

Fix issue with entry points for Python 3.6 and 3.7 (#113)
  tests/backends/__init__.py
  tests/backends/dummy.py
  tests/test_custom_backend.py
  tripper/interface.py
  tripper/triplestore.py
Due: pylint, pylint-tests

added file. Still need to clean up
  tripper/semanticdatahandler.py
  tripper/triplestore.py
Due: pylint

decided to put in same file, since it inherits from triplestore and shares many imported packages
  tripper/semanticdatahandler.py
  tripper/triplestore.py
Due: pylint

modified test_function.py
  tests/mappings/test_function.py
Due: pylint-tests

modified test_function
  tests/mappings/test_function.py
Due: pylint-tests

modified __init__ and test_get_data
  tests/test_get_data.py
  tripper/__init__.py
Due: pylint, pylint-tests

this should fix the CI-Tests: attempt 3
  tripper/triplestore.py
Due: pylint

fixed error in example of add_interpolation_source and shortened the lines so that it goes through
  tripper/triplestore.py
Due: pylint

this should fix the CI-Tests: attempt 4. Example removed
  tripper/triplestore.py
Due: pylint

this should fix the CI-Tests
  tripper/triplestore.py
Due: pylint

this should fix the CI-Tests: attempt 2
  tripper/triplestore.py
Due: pylint

changes
  tripper/triplestore.py
Due: pylint

renamed class to Tripper. Moved Tripper to a new file tripper/tripper.py. Modified the __init__ and tests to account for the changes
  docs/api_reference/tripper.md
  tests/mappings/test_function.py
  tests/test_get_data.py
  tripper/__init__.py
  tripper/triplestore.py
  tripper/tripper.py
Due: pylint, pylint-tests

removed test.ipynb
  tripper/test.ipynb
Due: none

Update tests/backends/dummy.py
  tests/backends/dummy.py
Due: pylint-tests

92 new triplestore subclass (#99)
  docs/api_reference/tripper.md
  tests/backends/dummy.py
  tests/mappings/test_function.py
  tests/test_get_data.py
  tripper/__init__.py
  tripper/triplestore.py
  tripper/tripper.py
Due: pylint, pylint-tests

Added support for a few additional operations on namespace objects
  tripper/namespace.py
Due: pylint

One letter words where not allowed in mappings, now they are
  tripper/triplestore.py
Due: pylint

Also run CI tests on examples in documentation
  pyproject.toml
Due: none

Changed to master
  .github/workflows/cd_release.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

Added testing to PR template
  .github/pull_request_template.md
Due: none

fix #121 additional tag of main converted to master
  README.md
  examples/workflow-mappings/README.md
  pyproject.toml
Due: none

Added docs/index.md
  docs/index.md
Due: none

work in progress...
  tripper/__init__.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
Due: pylint

Added a module called convert
  docs/api_reference/convert/.pages
  docs/api_reference/convert/convert.md
  tests/convert/test_convert.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Also test recognised_keys
  tests/convert/test_convert.py
  tripper/convert/convert.py
Due: pylint, pylint-tests

Added pint to requirements
  pyproject.toml
  tripper/mappings/mappings.py
Due: pylint

Added annotations
  tripper/convert/convert.py
  tripper/tripper.py
Due: pylint

Added lang argument to save_dict()
  tripper/convert/convert.py
Due: pylint

Added bool to the tests
  tests/convert/test_convert.py
Due: pylint-tests

Added support for lists in tripper.convert
  tests/convert/test_convert.py
  tests/test_literals.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated annotations
  tripper/convert/convert.py
Due: pylint

Fixed typo
  tripper/convert/convert.py
Due: pylint

Fixed failing test
  tests/test_triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests
