Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Cleaned up requirements and added PyYaml
  pyproject.toml
  tests/dataset/test_dataset.py
Due: pylint-tests

Fixed some dependencies
  pyproject.toml
  tripper/dataset/dataset.py
Due: pylint

Require requests as well
  tests/dataset/test_dataset.py
Due: pylint-tests

Expanded version range for requests for compatibility with mkdocs
  pyproject.toml
Due: none

Updated test_dataset
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/input/datasets.yaml
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added comments as suggested by reviewer
  tripper/interface.py
  tripper/triplestore.py
Due: pylint

Added test
  tests/test_triplestore.py
Due: pylint-tests

Fixed failing test
  tests/dataset/test_dataset.py
Due: pylint-tests

Update tripper/triplestore.py
  tripper/triplestore.py
Due: pylint

Updated pre-commit requirements and fixed line length
  pyproject.toml
  tripper/triplestore.py
Due: pylint

Added a section about adding new backends to developers guide
  docs/developers.md
Due: none

Allowing backends to indicate whether they prefer the sparql interface (#255)
  docs/developers.md
  pyproject.toml
  tests/backends/test_collection.py
  tests/backends/test_rdflib.py
  tests/test_literals.py
  tests/test_triplestore.py
  tripper/backends/collection.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/errors.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/tripper.py
Due: pylint, pylint-tests

Added semdata.yaml
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
Due: pylint-tests

Updated dataset
  docs/api_reference/testutils.md
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/paths.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/context/0.2/context.json
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated context
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/context/0.2/context.json
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added load_parsers()
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Cleanup
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
Due: pylint-tests

cleanup
  tripper/context/0.2/context.json
  tripper/dataset/dataset.py
  tripper/utils.py
Due: pylint

Fix failing test
  tests/dataset/test_dataset.py
Due: pylint-tests

Added figures
  docs/figs/.$dataset.drawio.bkp
  docs/figs/dataset-Consumer.png
  docs/figs/dataset-Consumer1.png
  docs/figs/dataset-Consumer2.png
  docs/figs/dataset-Dataset.png
  docs/figs/dataset-Provider.png
  docs/figs/dataset.drawio
  tests/dataset/test_dataset.py
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Updated context
  tripper/context/0.2/context.json
Due: none

Working load
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Simplified dataset module
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Also save statements to triplestore
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint

Improved load with SPARQL and added more tests
  tests/dataset/test_dataset.py
  tripper/context/0.2/context.json
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Renamed load() and save() to load_dict() and save_dict()
  tests/dataset/test_dataset.py
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added load() and a SEM image
  tests/input/77600-23-001_5kV_400x_m001.tif
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint

Added list_dataset_iris()
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/__init__.py
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
  tripper/namespace.py
Due: pylint, pylint-tests

Disabled some pylint issues
  tripper/dataset/dataset.py
Due: pylint

Updated dependency of dlite
  pyproject.toml
Due: none

DLite requires python >= 3.8
  pyproject.toml
Due: none

Fixed typo in pyproject.toml
  pyproject.toml
Due: none

Fixed failing test
  tripper/backends/collection.py
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint

Added importskip for dlite
  tests/dataset/test_dataset.py
Due: pylint-tests

Skip test_save_and_load() if dlite is not available
  tests/dataset/test_dataset.py
Due: pylint-tests

Implemented save()
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Removed expand_prefixes() and made prepare() recursive instead
  tests/dataset/test_dataset.py
  tests/output/.gitignore
  tripper/dataset/dataset.py
  tripper/utils.py
Due: pylint, pylint-tests

Improved saving
  tests/dataset/test_dataset.py
  tripper/context/0.2/context.json
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Improved testing of save()
  tests/dataset/test_dataset.py
  tripper/context/0.2/context.json
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added test for OTEAPI pipeline
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tests/output/.gitignore
  tripper/dataset/dataset.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
