Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added availability individuals.
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes-process.md
  docs/datadoc/prefixes.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: none

Added missing prefix
  tripper/context/datadoc.ttl
Due: none

Changed sxd:date to xsd:dateTime in keywords (#504)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes-process.md
  docs/datadoc/prefixes.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: none

Improved error message when missing prefix
  tripper/datadoc/context.py
Due: pylint

apply suggestion from review
  tripper/datadoc/context.py
Due: pylint

Make TableDoc.save return the saved JSON-LD.
  tripper/datadoc/tabledoc.py
Due: pylint

Ensure that context is always added to the jsonld dict
  tripper/datadoc/dataset.py
Due: pylint

Corrected example
  docs/datadoc/documenting-a-resource.md
Due: none

Correctly add language to context
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/fetching-resources-from-a-triplestore.md
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added comment
  tripper/datadoc/dataset.py
Due: pylint

Skip dot-expansion of keyword if it is an uri
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
Due: pylint

Added some missing tests
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataaccess.py
Due: pylint, pylint-tests

Commented out dot-expansion of json-ld keywords
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added test for language string
  tests/datadoc/test_dataset.py
Due: pylint-tests

Make TableDoc.save return the saved JSON-LD (#507)
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/fetching-resources-from-a-triplestore.md
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added support for multiple labels in keywords
  tripper/datadoc/keywords.py
Due: pylint

Remove duplicated labels in keyworkds
  tripper/datadoc/keywords.py
Due: pylint

Allow duplicated labels
  tripper/datadoc/keywords.py
Due: pylint

Do not include blank nodes when testing for klasses in keywords
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Apply suggestion from @francescalb
  tests/datadoc/test_keywords.py
Due: pylint-tests

Allow epansion on individuals (not in context) when expanding restrictions
  tripper/datadoc/dataset.py
Due: pylint

Added new function: update_context()
  tripper/datadoc/dataset.py
Due: pylint

Updated tests
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added support for multiple labels in keywords (#508)
  tests/datadoc/test_keywords.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

latest state
  tests/datadoc/test_context.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Skip tests depending on dlite if dlite is not available (#501)
  .github/workflows/ci_tests.yml
  examples/workflow-mappings/workflow_mappings.py
  pyproject.toml
  tripper/datadoc/dataaccess.py
Due: pylint

Restrictions to iris
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Corrected on property too
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Correct to owl:Class is not added twice in jsonld
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

cleanup
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Updated test
  tests/datadoc/test_dataset.py
Due: pylint-tests

Fixed expansion of subPropertyOf
  LICENSE
  tripper/backends/ontopy.py
  tripper/datadoc/dataset.py
Due: pylint

Fixed test_infer_restriction_types()
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added missing tests
  tests/datadoc/test_context.py
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added more tests and ignored some warnings
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/test_markdown_doctest.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

commit during work-in-progress
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Moved configurations for ignoring warnings to pyproject.toml
  pyproject.toml
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/test_markdown_doctest.py
  tripper/backends/ontopy.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Cleaned up some additional warnings
  tests/datadoc/test_keywords.py
Due: pylint-tests

Updated update_restrictions()
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Fixed restrictions to classes
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests
