Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Update keywords for manufactured product.
  tripper/context/process/0.1/keywords.yaml
Due: none

Allow to filter generated markdown documentation on namespaces (#476)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Fixed failing test
  tests/datadoc/test_keywords.py
Due: pylint-tests

Added --redefine option to datadoc tool and corrected Keywords._keywords_list() method.
  tests/datadoc/test_keywords.py
  tripper/datadoc/clitool.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added --yaml option to keywords tool for generating keywords files.
  tripper/datadoc/keywords.py
Due: pylint

Added reverse mapping to Namespace objects using the __call__() method.
  docs/tutorial.md
  tests/test_namespace.py
  tripper/datadoc/keywords.py
  tripper/namespace.py
Due: pylint, pylint-tests

The test_call() test requires rdflib.
  tests/test_namespace.py
Due: pylint-tests

Make it possible to duplicate nested table headers (#467)
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Update tripper/datadoc/context.py
  tripper/datadoc/context.py
Due: pylint

Fixed typo in docstring
  tripper/utils.py
Due: pylint

460 improve description of classes (#479)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  examples/classdoc/mysimulation.yaml
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Added --redefine option to datadoc tool and corrected Keywords._keywords_list() method (#482)
  tests/datadoc/test_keywords.py
  tripper/datadoc/clitool.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Update keywords for manufactured product (#481)
  tripper/context/process/0.1/keywords.yaml
Due: none

Added reverse mapping to Namespace objects using the __call__() method. (#483)
  docs/tutorial.md
  tests/test_namespace.py
  tripper/datadoc/keywords.py
  tripper/namespace.py
Due: pylint, pylint-tests

Added prefix argument to keywords tool
  tripper/datadoc/keywords.py
Due: pylint

rewrote naming of arguments writing keywords
  tripper/datadoc/keywords.py
Due: pylint

Updated hook for generating keywords
  .hooks/generate-context-and-doc.sh
Due: none

Updated asdicts() method to tabledoc
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/clitool.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Replaced use of deprecated `yamlfile` argument to get_keywords()
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added --set-prefix option to keywords
  tripper/datadoc/keywords.py
Due: pylint

Added --set-prefix option to keywords (#496)
  tripper/datadoc/keywords.py
Due: pylint

Updated
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/process/0.1/context.json
Due: none

Added creationDate
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Fix test based on feedback from review by flb
  tests/datadoc/test_keywords.py
Due: pylint-tests

Apply suggestion from @jesper-friis
  tripper/datadoc/keywords.py
Due: pylint

Apply suggestions from code review
  tripper/datadoc/keywords.py
Due: pylint

Apply suggestion from @francescalb
  tripper/datadoc/keywords.py
Due: pylint

Fixed use of deprecated `yamlfile` argument to get_keywords() (#494)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

pylint disable too many statements in keywords tool
  tripper/datadoc/keywords.py
Due: pylint

Added mappings to keywords
  tripper/datadoc/keywords.py
Due: pylint

further updates
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Removed failing tests
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Ensured that tests now are passing
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Annotation mappings for generated keywords (#497)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Do not use default theme when updating keywords and context
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
