Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Updated documentation of the units subpackage
  .hooks/markdown-doctest.sh
  .pre-commit-config.yaml
  docs/backend_discovery.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/keywords.md
  docs/session.md
  docs/units/units.md
  mkdocs.yml
  tests/test_literals.py
  tests/test_markdown_doctest.py
  tests/units/test_units.py
  tripper/context/0.3/keywords.yaml
  tripper/literal.py
  tripper/units/units.py
Due: pylint, pylint-tests

Skip test_markdown_doctest on Python 3.8 or when we miss needed packages
  tests/test_markdown_doctest.py
Due: pylint-tests

Fix typos in documentation
  docs/units/units.md
  tripper/namespace.py
Due: pylint

Slightly improved test coverage
  docs/datadoc/documenting-a-resource.md
  tests/units/test_units.py
Due: pylint-tests

Improved documentation
  docs/units/units.md
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Added blank line before bullet list
  docs/units/units.md
Due: none

Added links to documentation and fixed issue in to_ontology_units()
  docs/units/units.md
  tests/output/.gitignore
  tripper/units/units.py
Due: pylint

Updated markdown links such that they passes the checks
  docs/units/units.md
  tests/test_namespace.py
  tests/units/test_units.py
Due: pylint-tests

Added units submodule for working with units and quantities defined in ontologies (#324)
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  .hooks/markdown-doctest.sh
  .pre-commit-config.yaml
  LICENSE
  README.md
  docs/api_reference/units/.pages
  docs/api_reference/units/units.md
  docs/backend_discovery.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/keywords.md
  docs/index.md
  docs/session.md
  docs/units/units.md
  examples/workflow-mappings/workflow_mappings.py
  mkdocs.yml
  pyproject.toml
  tests/output/.gitignore
  tests/test_literals.py
  tests/test_markdown_doctest.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/units/test_units.py
  tripper/context/0.3/keywords.yaml
  tripper/errors.py
  tripper/literal.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/units/__init__.py
  tripper/units/units.py
  tripper/utils.py
Due: pylint, pylint-tests

Fixed issue introduced by merge
  tripper/datadoc/keywords.py
Due: pylint

Corrected link in readme file
  README.md
  docs/index.md
Due: none

Re-enabled validation
  tripper/datadoc/dataset.py
Due: pylint

Fixed markdown_doctest test
  tests/test_markdown_doctest.py
Due: pylint-tests

Tabledoc.save() should now be much faster. Should be tested...
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/keywords.md
  tests/datadoc/test_context.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/input/mappings.ttl
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/__init__.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

cleanup
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Greately improved speed of saving csv tables to the a triplestore
  docs/datadoc/prefixes.md
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tripper/__init__.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
  tripper/namespace.py
Due: pylint, pylint-tests

Fixed documentation issues
  docs/datadoc/customisation.md
  tripper/datadoc/dataset.py
Due: pylint

try safety directly
  .github/workflows/ci_tests.yml
Due: none

Typo in ci-tests
  .github/workflows/ci_tests.yml
Due: none

typo
  .github/workflows/ci_tests.yml
Due: none

try adding .safety-config
  .safety-policy.yml
Due: none

removed safety-config.yml
  .safety-policy.yml
Due: none

Removed safety info that is no longer relevant
  .github/workflows/ci_tests.yml
Due: none

Development branch that merges loose ends together (#380)
  .github/workflows/ci_tests.yml
  README.md
  docs/api_reference/datadoc/context.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_context.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/input/mappings.ttl
  tests/input/semdata.csv
  tests/input/semdata.yaml
  tests/test_markdown_doctest.py
  tests/test_utils.py
  tripper/__init__.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Added ureg.get_quantity() method
  docs/units/units.md
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Simplified arguments to get_quantity()
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Skip test_get_quantity() for python 3.8
  tests/units/test_units.py
Due: pylint-tests

Added tests for invalid arguments
  tests/units/test_units.py
Due: pylint-tests

Updated units documentation.
  docs/units/units.md
  tripper/units/units.py
  tripper/utils.py
Due: pylint

Update tests/units/test_units.py
  tests/units/test_units.py
Due: pylint-tests

Corrected tests and examples
  docs/units/units.md
  tests/units/test_units.py
Due: pylint-tests

Fix doctest and make sure that the test_markdown_doctest fails properly
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  tests/input/semdata-context.json
  tests/test_markdown_doctest.py
Due: pylint-tests

Fixing doctest tutorial
  docs/tutorial.md
Due: none

Added ureg.get_quantity() method to units module (#381)
  docs/units/units.md
  tests/units/test_units.py
  tripper/units/units.py
  tripper/utils.py
Due: pylint, pylint-tests

Also fixed example in session.md
  docs/session.md
Due: none

Updated doctest
  docs/units/units.md
Due: none

Added note to docstring
  tripper/units/units.py
Due: pylint

Added clarifying note to docstring of to_ontology_units()
  tripper/units/units.py
Due: pylint

Renamed functions and added method argument to dataset.store().
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  tests/datadoc/test_dataaccess.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added tests for the method argument.
  tests/datadoc/test_dataset.py
  tripper/datadoc/__init__.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests
