Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Corrected graphdb existense check to not be a fixture
  tests/backends/test_sparqlwrapper_graphdb.py
Due: pylint-tests

Added tests using datadoc modeule for sparqlwrapper w/graphdb
  tests/backends/test_sparqlwrapper_graphdb.py
Due: pylint-tests

test_sparqlwrapper fails because urllib HTPError is returned
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Update docs/developers.md
  docs/developers.md
Due: none

Update tests/backends/test_sparqlwrapper_graphdb.py
  tests/backends/test_sparqlwrapper_graphdb.py
Due: pylint-tests

Fix line to long after review
  tests/backends/test_sparqlwrapper_graphdb.py
Due: pylint-tests

Test numeric literal
  tests/backends/test_sparqlwrapper_graphdb.py
Due: pylint-tests

Added PINK to contributing projects (#327)
  README.md
  docs/index.md
Due: none

Removed non workign command for creating graphdb repo
  docs/developers.md
Due: none

Fix typo
  docs/developers.md
Due: none

Update instruction for starting GraphDB repository.
  docs/developers.md
Due: none

Fixed literals for SELECT and CONSTRUCT sparql queries in sparqlwrapper backend
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Corrected literals in SELECT and CONSTRUCT queries in the sparqlwrapper backend (#335)
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Fixed CONSTRUCT to return s and not o
  tests/backends/datadocumentation_sample2.yaml
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Disable too many lines
  tripper/datadoc/dataset.py
Due: pylint

Readded a sentence that was deleted by mistake
  tripper/datadoc/dataset.py
Due: pylint

Update tripper/datadoc/dataset.py
  tripper/datadoc/dataset.py
Due: pylint

disable pylint errors on too-many-positional-arguments
  pyproject.toml
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/convert/convert.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
  tripper/mappings/mappings.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/triplestore_extend.py
Due: pylint

Python3.8 dependency on testing-ore
  pyproject.toml
Due: none

Corrected expansion of iri when searching with sparql
  tests/backends/datadocumentation_sample.yaml
  tests/backends/datadocumentation_sample2.yaml
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Expand the IRI of @id in the dict returned by load_dict()
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

cleanup
  tripper/triplestore.py
Due: pylint

Remove unneeded comment signs
  tripper/triplestore.py
Due: pylint

Typo fixing
  tripper/triplestore.py
Due: pylint

corrected syntax
  tripper/triplestore.py
Due: pylint

more cleanup
  tripper/triplestore.py
Due: pylint

Test using TURTLE as return format instead of RDFXML in sparqlwrapper backend
  tripper/backends/sparqlwrapper.py
Due: pylint

Prepare sparqlwrapper test with ext ts for more backends
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
Due: pylint-tests

Testing fuseki
  docs/developers.md
  tests/backends/datadocumentation_sample.yaml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Remove test that is only working with when PR342 is accepted
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
Due: pylint-tests

Test fuseki on github
  .github/workflows/ci_tests.yml
Due: none

Corrected formatting of example
  tripper/triplestore.py
Due: pylint

Corrected sparqlquery for removing triples
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Added update() method to sparqlwrapper backend.
  tests/backends/datadocumentation_sample2.yaml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Clean up
  tests/backends/datadocumentation_sample2.yaml
  tripper/backends/sparqlwrapper.py
Due: pylint

Update tripper/backends/sparqlwrapper.py
  tripper/backends/sparqlwrapper.py
Due: pylint

Added annotation
  tripper/backends/sparqlwrapper.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
