Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Update README.md
  README.md
Due: none

Fixed failing test.
  tripper/datadoc/dataset.py
Due: pylint

Good point from review, link should point to master
  README.md
  docs/index.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

Changed to relative paths
  .pre-commit-config.yaml
  README.md
  docs/index.md
Due: none

Adding logos (#368)
  .pre-commit-config.yaml
  README.md
  docs/figs/tripper_logo.png
  docs/figs/tripper_logo.svg
  docs/figs/tripper_logo_w_name.png
  docs/figs/tripper_logo_w_name.svg
  docs/index.md
  tripper/datadoc/dataset.py
Due: pylint

Add resources (classes) to the JSON-LD context. (#366)
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Initial commit to branch use_pyld
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  pyproject.toml
  tests/datadoc/test_context.py
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/datadoc/__init__.py
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Use PyLD for context handling
  docs/api_reference/datadoc/context.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated keywords documentation
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Updated keywords documentation (#371)
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Fix formatting
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Fix typo in keywords documentation (#373)
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Corrected DataSetvice to DataService
  docs/datadoc/keywords.md
  pyproject.toml
  tripper/context/0.3/keywords.yaml
Due: none

Started solveng eiisues with keywords
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint

Allow to use the same keyword in several resource types
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint

Defined missing prefix - needed by fuseki and GraphDB
  tripper/datadoc/dataset.py
Due: pylint

Added iana prefix
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
Due: none

Added --debug option to command-line tool
  docs/datadoc/prefixes.md
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/clitool.py
Due: pylint, pylint-tests

Update of the use_pyld branch
  tripper/datadoc/__init__.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Updated clitool and added custum csv sniffer
  tripper/datadoc/clitool.py
  tripper/datadoc/tabledoc.py
Due: pylint

Added test for new keyword in recursive_update()
  tests/test_utils.py
Due: pylint-tests

Added test for scvsniff()
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added more tests for recursive_update()
  tests/test_utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Added Context class
  pyproject.toml
  tests/datadoc/test_context.py
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Updated context and keywords modules such that the test passes
  docs/api_reference/datadoc/context.md
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
Due: pylint

Updated docstring
  tests/datadoc/test_tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Commented out validate
  tripper/datadoc/dataset.py
Due: pylint

Updated test for recursive_update()
  mkdocs.yml
  tests/test_utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Started to use context - removed many bugs
  docs/datadoc/prefixes.md
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tests/input/semdata.yaml
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/__init__.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Skip blank nodes by default in find_iris()
  tripper/datadoc/dataset.py
Due: pylint

Updated readme page and license copyright years
  LICENSE
  README.md
  docs/index.md
Due: none

Installed gh-admonitions to make easy to read both on github and in documentaiton
  README.md
  docs/index.md
  docs/units/units.md
  mkdocs.yml
  pyproject.toml
Due: none

Added support for schema:unitCode
  tripper/namespace.py
  tripper/units/units.py
Due: pylint

Added save/load quantities to/from a triplestore
  examples/workflow-mappings/workflow_mappings.py
  pyproject.toml
  tests/test_namespace.py
  tests/units/test_units.py
  tripper/errors.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/units/units.py
Due: pylint, pylint-tests

Added support for quantities in literal module
  tests/test_literals.py
  tests/test_triplestore.py
  tests/units/test_units.py
  tripper/literal.py
  tripper/units/units.py
  tripper/utils.py
Due: pylint, pylint-tests

Support custom unit ontologies
  tests/units/test_units.py
  tripper/errors.py
  tripper/namespace.py
  tripper/units/units.py
Due: pylint, pylint-tests

Cleaned up
  tests/units/test_units.py
  tripper/units/__init__.py
  tripper/units/units.py
Due: pylint, pylint-tests
