Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Ensure that test_keywords is skipped if yaml is not available.
  tests/datadoc/test_keywords.py
Due: pylint-tests

Fixed misspelled subClassOf keywords
  docs/datadoc/keywords.md
  tripper/context/0.3/keywords.yaml
Due: none

Made search_iris() more robust
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Skipping test_expand_iri() if rdflib is not installed
  tests/test_utils.py
Due: pylint-tests

Replaced dcterms:format with dcat:mediaType and changed the values to full IRIs.
  docs/datadoc/keywords.md
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/input/semdata.csv
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
Due: pylint-tests

Updated tests and got rid of warnings
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/input/semdata.yaml
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/literal.py
Due: pylint, pylint-tests

Adding support for @graph in save_dict()
  tripper/datadoc/dataset.py
Due: pylint

Fixed CONTEXT_URL after branch 294-validator-for-schema was merged to master
  tripper/datadoc/dataset.py
Due: pylint

Fixed CONTEXT_URL after branch 294-validator-for-schema was merged to master (#359)
  tripper/datadoc/dataset.py
Due: pylint

Added normalise_context()
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Apply suggestions from code review
  docs/session.md
  docs/tools/datadoc.md
Due: none

Added session (#357)
  docs/api_reference/session.md
  docs/session.md
  docs/tools/datadoc.md
  mkdocs.yml
  tests/input/session.yaml
  tests/test_session.py
  tripper/__init__.py
  tripper/datadoc/clitool.py
  tripper/session.py
  tripper/utils.py
Due: pylint, pylint-tests

Added tests for datadoc cli
  tests/input/session.yaml
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint

Added test file
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Improved formatting of keyword documentation table.
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Updated tests
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Updated tests for datadoc cli
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added support for ASK and DESCRIBE queries in the sparqlwrapper backend
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Updated datadoc tests
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

committed latest updates
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Added final tests
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added support for ASK and DESCRIBE queries in the sparqlwrapper backend (#364)
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/backends/sparqlwrapper.py
Due: pylint, pylint-tests

Skip test_datadoc_cli if yaml, rdflib and sparqlwrapper are missing
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/clitool.py
Due: pylint, pylint-tests

Ensure that we skip test_datadoc_cli before importing anything else
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Added test
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Avoid sparql variable collitions
  tripper/datadoc/dataset.py
Due: pylint

Reset the PREFIX in _load_sparql() to the one by Francesca
  tripper/datadoc/dataset.py
Due: pylint

Allowed providing @id in regex criterias to search_iris()
  tests/datadoc/test_datadoc_cli.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Allow the regex searches to contain and @id
  tripper/datadoc/dataset.py
Due: pylint

Also added a test for fetch
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Test for the datadoc command-line tool (#361)
  tests/datadoc/test_datadoc_cli.py
  tests/input/session.yaml
  tests/test_session.py
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added tips about how to run mkdocs locally
  docs/developers.md
Due: none

Update docs/developers.md
  docs/developers.md
Due: none

Improved formatting of keyword documentation table. (#362)
  docs/datadoc/keywords.md
  docs/developers.md
  tripper/datadoc/keywords.py
Due: pylint

Add resources (classes) to the JSON-LD context.
  tripper/context/0.3/context.json
  tripper/datadoc/keywords.py
Due: pylint

Added test for __dir__() method
  tests/datadoc/test_keywords.py
Due: pylint-tests

Corrected typo in test
  tests/datadoc/test_keywords.py
Due: pylint-tests

Adding logos
  docs/figs/tripper_logo.png
  docs/figs/tripper_logo.svg
  docs/figs/tripper_logo_w_name.png
  docs/figs/tripper_logo_w_name.svg
Due: none

Added logo to tripper web-page
  README.md
  docs/index.md
Due: none

Right-aligned the logo
  README.md
  docs/index.md
Due: none
