Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Update README.md
  README.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

Moved comment about buggy mypy to parse_object()
  tripper/backends/collection.py
  tripper/utils.py
Due: pylint

Added support for xsd:nonNegativeInteger
  tripper/literal.py
Due: pylint

Moved checking of literal consistency to the Literal constructor. Updated tests.
  examples/workflow-mappings/workflow_mappings.py
  tests/test_literals.py
  tests/test_triplestore.py
  tripper/literal.py
Due: pylint, pylint-tests

Updated mkdocs-material to 9.5.5
  pyproject.toml
Due: none

Also updated mkdocs-material to 9.5.5 for 'dev' target
  pyproject.toml
Due: none

Revert dependency of mkdocs-material to 9.2 since 9.5.5 fails to install with existing version of mkdocs+++
  pyproject.toml
Due: none

Added reference to PyBackTrip
  README.md
  docs/index.md
Due: none

Ipdated table header
  README.md
  docs/index.md
Due: none

Added reference to available backends in the documentation of the Triplestore `backend` argument.
  tripper/triplestore.py
Due: pylint

Added test for literal triples.
  docs/api_reference/testutils.md
  tests/test_triplestore.py
  tripper/testutils.py
Due: pylint, pylint-tests

Ignore vulnerability in mkdocs-material 9.2.7
  .github/workflows/ci_tests.yml
Due: none

Added comments
  .github/workflows/ci_tests.yml
Due: none

Allowed untyped literals
  tests/test_literals.py
  tripper/literal.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Bump mkdocs-material version for security
  pyproject.toml
Due: none

Bump python version for pylint&safety and doc tests
  .github/workflows/ci_tests.yml
Due: none

Bump mkdocs-material version for security (#186)
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Correctly convert rdflib bnodes back to tripper
  tests/backends/test_rdflib.py
  tripper/backends/rdflib.py
Due: pylint, pylint-tests

Skip test_find_literal_triples() if rdflib is not installed.
  tests/test_triplestore.py
Due: pylint-tests

Cleaned up PR template
  .github/pull_request_template.md
Due: none

Added support for adding and finding restrictions
  tests/test_literals.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/errors.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Added some missing tests
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated readme file
  README.md
  docs/index.md
Due: none

Update after review
  README.md
  docs/index.md
Due: none

Added a note readme about installing additional packages.
  README.md
  docs/index.md
Due: none

Added generated files
  docs/index.md
Due: none

Added reference to PyBackTrip (#180)
  README.md
  docs/index.md
  tripper/triplestore.py
Due: pylint

Bump release workflow to python from 3.7 to 3.9
  .github/workflows/cd_release.yml
Due: none

Added test for finding literal triples (#183)
  docs/api_reference/testutils.md
  tests/test_triplestore.py
  tripper/testutils.py
Due: pylint, pylint-tests

Use Python 3.9 for all basic CI tests
  .github/workflows/ci_tests.yml
Due: none

Bump basic CI tests and CD to python 3.9 (#192)
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
Due: none

Updated docstring and added test
  tests/test_triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Added persistent cache to Namespace and simplified the implementation.
  docs/tutorial.md
  tests/ontologies/food-more.ttl
  tests/output/.gitignore
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Use Python 3.9 in all CI/CD workflows
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

Updated triplestore interface
  tests/test_namespace.py
  tripper/namespace.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added SPARQL test and improved tutorial
  docs/tutorial.md
  tests/test_sparql.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added some pytest.importskip() statements
  tests/test_namespace.py
  tests/test_sparql.py
Due: pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
