Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Keywords with context input (#513)
  LICENSE
  pyproject.toml
  tests/datadoc/test_context.py
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Added test for update_context() with full IRIs
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Corrected infering name from iri. http://purl.org/dc/terms/abstract should return abstract
  tests/datadoc/test_datadoc_utils.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Update tripper/datadoc/utils.py
  tripper/datadoc/utils.py
Due: pylint

Added some more tests
  tests/datadoc/test_datadoc_utils.py
Due: pylint-tests

Added some extra tests
  tests/datadoc/test_datadoc_utils.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Skipping invalid labels in update_context()
  tripper/datadoc/dataset.py
  tripper/datadoc/utils.py
Due: pylint

Correct update_context to only add classes to context
  tripper/datadoc/dataset.py
Due: pylint

Better catching of class for @type
  tripper/datadoc/dataset.py
  tripper/datadoc/utils.py
Due: pylint

Made test_backends_sparql.py slightly more robust
  tests/backends/test_backends_sparql.py
Due: pylint-tests

Made test_backends_sparql.py slightly more robust (#518)
  tests/backends/test_backends_sparql.py
Due: pylint-tests

Made altLabel and label language strings
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Fixed test
  tests/datadoc/test_keywords.py
Due: pylint-tests

Fixed formatting
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/keywords.yaml
Due: none

Fixed formatting of keywords (#521)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/keywords.yaml
Due: none

datamodel not treated as @type in told in datadoc/dataset
  tripper/datadoc/dataset.py
Due: pylint

Updated test
  tests/input/semdata.yaml
  tripper/datadoc/dataset.py
Due: pylint

New logic in told with key datamodel. If already a class: subClassOf
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Changed prefix accr: to rights:
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes-process.md
  docs/datadoc/prefixes.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: pylint-tests

Changed prefix `accr:` to `rights:` (#525)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes-process.md
  docs/datadoc/prefixes.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: pylint-tests

Removed automatic detection of datamodel in tripper dataset
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

correct mypy type casting
  tripper/utils.py
Due: pylint

Any imported
  tripper/utils.py
Due: pylint

Added return value to update_context().
  tripper/datadoc/dataset.py
Due: pylint

Added test that should fail
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added documentation on how to parse several tables that are interconnected
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Correct docs link
  docs/datadoc/customisation.md
Due: none

Ensure that default context doesn't leak into data documentation when it is not intended.
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Remove debugging statements
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Remove unnessesary edit
  tripper/datadoc/context.py
Due: pylint

Fixed pre-commit issues
  tripper/datadoc/context.py
  tripper/datadoc/tabledoc.py
Due: pylint

Corrected annotation of theme argument
  tripper/datadoc/dataset.py
Due: pylint

Added default context to test context
  tests/input/semdata-context.json
  tripper/datadoc/clitool.py
Due: pylint

Fixing failing tests
  tests/datadoc/test_datadoc_cli.py
  tests/input/semdata-context-ext.json
  tests/input/semdata-context.json
Due: pylint-tests

Added tests
  tests/datadoc/test_context.py
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Corrected tests and added extra dependencies
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  pyproject.toml
  tests/datadoc/test_context.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Added parsing of excel and specification of column separator to tabledoc
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_tabledoc.py
  tests/input/tem.xlsx
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Cleaned up docstring
  tripper/datadoc/tabledoc.py
Due: pylint

Added warning about experimental syntax.
  docs/datadoc/documenting-a-resource.md
Due: none

Update docs/datadoc/documenting-a-resource.md
  docs/datadoc/documenting-a-resource.md
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
