Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added one more test
  tests/datadoc/test_dataset.py
Due: pylint-tests

Improved wording
  tripper/datadoc/dataset.py
Due: pylint

Update tripper/units/units.py
  tripper/units/units.py
Due: pylint

Work in progress...
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/utils.py
Due: pylint, pylint-tests

Added @vocab to generated documentation
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Updated docstring based on review
  tripper/datadoc/dataset.py
Due: pylint

Added function update_classes()
  docs/datadoc/keywords.md
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added workaround bad CI test design
  tripper/datadoc/dataset.py
Due: pylint

Added new keywords file for processes together with an example.
  .hooks/generate-context-and-doc.sh
  docs/datadoc/classdoc.md
  docs/datadoc/keywords.md
  examples/classdoc/mysimulation.py
  examples/classdoc/mysimulation.yaml
  mkdocs.yml
  pyproject.toml
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint

Fixed overlong line.
  tripper/units/units.py
Due: pylint

Removed commented out code
  tripper/datadoc/dataset.py
Due: pylint

Removed comment
  tripper/datadoc/dataset.py
Due: pylint

Improved test coverage
  tests/datadoc/test_context.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Marked that retain is the default method in dataaccess.save()
  tripper/datadoc/dataaccess.py
Due: pylint

Updated store methods after review
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
Due: pylint

Fixed docstring
  tripper/units/units.py
Due: pylint

Update tripper/datadoc/dataset.py
  tripper/datadoc/dataset.py
Due: pylint

Updated tests and docstrings of deprecated functions
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Udated all uses of deprecated function names in tests
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  tests/datadoc/test_dataset.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Fix test_markdown_doctest (#383)
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/session.md
  docs/tutorial.md
  docs/units/units.md
  tests/input/semdata-context.json
  tests/test_markdown_doctest.py
  tripper/datadoc/dataset.py
  tripper/units/units.py
Due: pylint, pylint-tests

Removed more deprecation warnings
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/utils.py
Due: pylint, pylint-tests

Added retries argument to load()
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_dataaccess.py
  tripper/datadoc/dataaccess.py
  tripper/utils.py
Due: pylint, pylint-tests

Added more tests
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Added test for loading invalid downloadURL
  tests/datadoc/test_dataaccess.py
Due: pylint-tests

Added tests for deprecated functions
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Improved control when storing to the triplestore (#387)
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_dataset.py
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added generated tripper/context/process/0.1/context.json file to git
  tripper/context/process/0.1/context.json
Due: none

Updated doctest
  docs/datadoc/customisation.md
Due: none

Updated doc examples to ensure that doctest doesn't fail
  docs/datadoc/customisation.md
Due: none

Update docs/datadoc/classdoc.md
  docs/datadoc/classdoc.md
Due: none

WIP: Update classes (#388)
  .hooks/generate-context-and-doc.sh
  docs/datadoc/classdoc.md
  docs/datadoc/customisation.md
  docs/datadoc/keywords.md
  examples/classdoc/mysimulation.py
  examples/classdoc/mysimulation.yaml
  mkdocs.yml
  pyproject.toml
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Added more keywords to context/process/0.1/keywords.yaml
  tripper/context/process/0.1/keywords.yaml
Due: none

Update keywords.yaml
  tripper/context/process/0.1/keywords.yaml
Due: none

Added support for inverse relation in keywords
  tripper/datadoc/keywords.py
Due: pylint

Added comment to default keywords file
  tripper/context/0.3/keywords.yaml
Due: none

Added more documentation to default keyword file
  tripper/context/0.3/keywords.yaml
Due: none

Keywords inverse (#393)
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint

Updated criterias to criteria, started on documentation to fetch data
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_dataset.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

added a file about how to search and delete resources in the ts
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none
