Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Update tripper/backends/sparqlwrapper.py
  tripper/backends/sparqlwrapper.py
Due: pylint

Python Black reformatting
  tripper/backends/sparqlwrapper.py
Due: pylint

Add test for sparqlwrapper
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Remove unneccessary import
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Ensure language is English in test
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Add importskip for SPARQLwrapper in test
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

updated dataset figures
  docs/figs/dataset-Consumer.png
  docs/figs/dataset-Dataset.png
  docs/figs/dataset.drawio
Due: none

Ignore some generated/backup files
  .gitignore
  docs/figs/.$dataset.drawio.bkp
  docs/figs/.gitignore
Due: none

Added EMMO object properties hasDatum, isInputOf and isOutputOf to the context
  tripper/context/0.2/context.json
Due: none

Updated dataset figure
  docs/figs/dataset.drawio
Due: none

Update tripper/dataset/dataset.py
  tripper/dataset/dataset.py
Due: pylint

Update tripper/triplestore.py
  tripper/triplestore.py
Due: pylint

Updated dataset figures
  docs/figs/dataset-Consumer.png
  docs/figs/dataset-Dataset.png
  docs/figs/dataset-Provider.png
  docs/figs/dataset.drawio
Due: none

Updated the CHAMEO namespace to resolve IRIs
  docs/api_reference/dataset/dataaccess.md
  tests/dataset/test_dataset.py
  tripper/__init__.py
  tripper/namespace.py
Due: pylint, pylint-tests

Separated out dataaccess from the dataset module
  tests/dataset/test_dataset.py
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Separated out dataaccess.py from dataset.py
  docs/api_reference/dataset/dataaccess.md
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tripper/dataset/dataaccess.py
Due: pylint, pylint-tests

Apply suggestions from code review
  tripper/dataset/dataset.py
Due: pylint

Added examples suggested by reviewer.
  tripper/dataset/dataset.py
Due: pylint

Tests fails for Python 3.13 due to pub in pylint
  docs/api_reference/testutils.md
  pyproject.toml
  tests/paths.py
  tests/test_add_function.py
  tests/test_custom_backend.py
  tests/test_eval_function.py
  tests/test_get_data.py
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_sparql.py
  tests/test_triplestore.py
  tests/test_utils.py
Due: pylint-tests

Disabled some new pylint issues
  pyproject.toml
  tests/conftest.py
  tests/test_utils.py
Due: pylint-tests

Update tripper/context/0.2/context.json
  tripper/context/0.2/context.json
Due: none

Updated test to latest version of EMMO
  pyproject.toml
  tests/test_sparql.py
Due: pylint-tests

Ignore doctest of the tripper.tripper module
  pyproject.toml
Due: none

Updated tutorial to latest version of EMMO
  docs/tutorial.md
Due: none

Do not ignore tripper when running doctest (again)
  pyproject.toml
Due: none

Adding some more less strict doctest options
  pyproject.toml
Due: none

Ignore "Too Many Requests" errors in test_sparqlwrapper
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Fail on doctest errors
  pyproject.toml
Due: none

Cleanup
  pyproject.toml
Due: none

Updated dependency on dlite
  pyproject.toml
Due: none

Updated dependencies
  pyproject.toml
Due: none

Updated dependency on DLite for Python 3.13
  pyproject.toml
Due: none

Corrected requirements on numpy
  pyproject.toml
Due: none

Add support for Python 3.13 (#266)
  .github/workflows/ci_tests.yml
  docs/api_reference/testutils.md
  docs/tutorial.md
  pyproject.toml
  tests/backends/test_sparqlwrapper.py
  tests/conftest.py
  tests/mappings/test_cost.py
  tests/output/.gitignore
  tests/paths.py
  tests/test_add_function.py
  tests/test_custom_backend.py
  tests/test_eval_function.py
  tests/test_get_data.py
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_sparql.py
  tests/test_triplestore.py
  tests/test_utils.py
Due: pylint-tests

Dataset (#256)
  .gitignore
  docs/api_reference/dataset/.pages
  docs/api_reference/dataset/dataaccess.md
  docs/api_reference/dataset/dataset.md
  docs/figs/.gitignore
  docs/figs/dataset-Consumer.png
  docs/figs/dataset-Consumer1.png
  docs/figs/dataset-Consumer2.png
  docs/figs/dataset-Dataset.png
  docs/figs/dataset-Provider.png
  docs/figs/dataset.drawio
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tests/input/77600-23-001_5kV_400x_m001.tif
  tests/input/semdata.yaml
  tests/output/.gitignore
  tests/paths.py
  tests/test_utils.py
  tripper/__init__.py
  tripper/backends/collection.py
  tripper/context/0.2/context.json
  tripper/dataset/__init__.py
  tripper/dataset/dataaccess.py
  tripper/dataset/dataset.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated the dataset PR
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Corrected dataset module (#271)
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
