Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Update docs/datadoc/documenting-a-resource.md
  docs/datadoc/documenting-a-resource.md
Due: none

Update tripper/datadoc/dataset.py
  tripper/datadoc/dataset.py
Due: pylint

Avoid injecting default context (#538)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  pyproject.toml
  tests/datadoc/test_context.py
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_tabledoc.py
  tests/input/semdata-context-ext.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/clitool.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Renamed header->headers in TableDoc and head->header in Column
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Do not infer restrictions on annotation properties
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Explained the test
  tests/datadoc/test_dataset.py
Due: pylint-tests

typo
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added parsing of excel and semantics to header braces in tabledoc (#539)
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_tabledoc.py
  tests/input/tem.xlsx
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Litt kommentar rundt
  tripper/datadoc/dataset.py
Due: pylint

Update tests/datadoc/test_dataset.py
  tests/datadoc/test_dataset.py
Due: pylint-tests

Update as per review
  docs/datadoc/customisation.md
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

name change per review
  docs/datadoc/customisation.md
Due: none

Add documentation on how to make sure that new classes exist in context (#537)
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added test
  tests/datadoc/test_context.py
Due: pylint-tests

Added mini-context that is needed for rdf-serialisation
  tests/datadoc/test_context.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Some explanations on the tests
  tests/datadoc/test_context.py
Due: pylint-tests

Added bassi owl restrctions
  tripper/context/owl-restrictions.json
Due: none

Iri in restrictions are not treated correctly when parsed into ts (#542)
  tests/datadoc/test_context.py
  tripper/context/owl-restrictions.json
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Do not fail when wikidata stops access
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Do not fail when wikidata stops access (#544)
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Try to use pyproject workflow from sintef/ci-cd
  .github/workflows/ci_update_dependencies.yml
Due: none

Removed support for python 3.8
  .github/workflows/ci_tests.yml
  pyproject.toml
  tripper/triplestore.py
  tripper/units/units.py
Due: pylint

Downgrade pyld again (temp)
  pyproject.toml
Due: none

openpyxl was missing as dependency.
  pyproject.toml
Due: none

pyld to 3.0.0 again
  pyproject.toml
  tests/datadoc/test_context.py
Due: pylint-tests

PyLD version for python3.9
  pyproject.toml
Due: none

Removed support for python 3.8 (#547)
  .github/workflows/ci_tests.yml
  pyproject.toml
  tests/datadoc/test_context.py
  tripper/triplestore.py
  tripper/units/units.py
Due: pylint, pylint-tests

Allow tabledoc to have prefix in the header
  tripper/datadoc/context.py
Due: pylint

Added test and removed invalid code
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Make tabledoc accept columns with numbers
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Added test
  tests/datadoc/test_dataset.py
Due: pylint-tests

Make `told()` accept numerical values (#549)
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Allow tabledoc to have prefix in the header (#548)
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

prefLabel used as key first
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

prefLabel used as key first (#550)
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Add documentation on themes that are available
  docs/datadoc/customisation.md
Due: none

Theme doc (#551)
  docs/datadoc/customisation.md
Due: none
