Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Updated requirement on pint for python 3.8
  pyproject.toml
Due: none

Fixed spelling of emmo:Dataset
  tests/datadoc/test_dataset.py
Due: pylint-tests

Add updateEndpoint to SPARQLwrapper
  tripper/backends/sparqlwrapper.py
Due: pylint

Added warnings as errors in pyproject
  pyproject.toml
Due: none

Implementing regex search (#307)
  pyproject.toml
  tests/datadoc/test_dataset.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added multiple ignore patterns for sparqlwrapper test
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Improved test failure robustness
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Improved test robustness...
  tests/test_triplestore.py
Due: pylint-tests

Make datasets with a datamodel an individual of the datamodel (#286)
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Update tripper/backends/sparqlwrapper.py
  tripper/backends/sparqlwrapper.py
Due: pylint

Move import
  tripper/backends/sparqlwrapper.py
Due: pylint

setter and check for update_iri for sparqlwrapper
  tripper/backends/sparqlwrapper.py
  tripper/utils.py
Due: pylint

Made units a proper sub-package
  pyproject.toml
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Made units a proper sub-package
  pyproject.toml
  tests/units/test_units.py
  tripper/units/__init__.py
  tripper/units/units.py
Due: pylint, pylint-tests

Updated tests and fixed pylint issues
  docs/api_reference/units/.pages
  docs/api_reference/units/units.md
  pyproject.toml
  tests/units/test_units.py
  tripper/triplestore.py
  tripper/units/__init__.py
  tripper/units/units.py
  tripper/utils.py
Due: pylint, pylint-tests

Added supports to pint units and quantities
  tests/units/test_units.py
  tripper/units/__init__.py
  tripper/units/units.py
Due: pylint, pylint-tests

Added documentation
  README.md
  docs/index.md
  docs/units/introduction.md
  mkdocs.yml
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Updated required version of pint
  pyproject.toml
Due: none

Updated requirements for Pint
  pyproject.toml
Due: none

fixed typo
  pyproject.toml
Due: none

Corrected tests
  tests/units/test_units.py
Due: pylint-tests

Renamed introduction.md to units.md
  docs/units/units.md
Due: none

Added PermissionWarning
  tripper/units/units.py
Due: pylint

Fixed name of units.md in nav
  mkdocs.yml
Due: none

Protect against missing TypeAlias in pint
  tripper/units/units.py
Due: pylint

Unitsfile must always be created
  tripper/units/units.py
Due: pylint

Skip test_unit_registry on Python 3.8
  tests/units/test_units.py
  tripper/units/units.py
Due: pylint, pylint-tests

Replaced Pint TypeAlias with Any
  tripper/units/units.py
Due: pylint

Skipping doctest that fails for Python 3.8
  tripper/units/units.py
Due: pylint

Build documentation with Python 3.11
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  tripper/units/units.py
Due: pylint

Update dataset.py
  tripper/datadoc/dataset.py
Due: pylint

Added example with regular expression
  tripper/datadoc/dataset.py
Due: pylint

Added PINK to contributing projects
  README.md
  docs/index.md
Due: none

Update dataset.py (#325)
  tripper/datadoc/dataset.py
Due: pylint

Fix typo
  docs/units/units.md
Due: none

Added FIXME comment
  tripper/units/units.py
Due: pylint

Include context files in installation
  MANIFEST.in
  pyproject.toml
Due: none

Include context files in installation (#328)
  MANIFEST.in
  pyproject.toml
Due: none

Added CONSTRUCT query to sparqlwrapper, added test and description for same
  docs/developers.md
  tests/backends/datadocumentation_sample.yaml
  tests/backends/test_sparqlwrapper.py
  tests/backends/test_sparqlwrapper_graphdb.py
  tripper/backends/sparqlwrapper.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Update tests/backends/test_sparqlwrapper.py
  tests/backends/test_sparqlwrapper.py
Due: pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
