Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added pathlib.Path to ContextType
  tripper/datadoc/context.py
Due: pylint

Corrected Namespace.__contains__() and added test
  tests/test_namespace.py
  tripper/namespace.py
Due: pylint, pylint-tests

Added comments
  tripper/namespace.py
Due: pylint

Don't convert None returned by ts.query to string
  tests/test_sparql.py
  tripper/backends/rdflib.py
Due: pylint, pylint-tests

Updating to EMMO 1.1.0
  docs/tutorial.md
  docs/units/units.md
  tests/test_sparql.py
  tests/units/test_units.py
  tripper/convert/convert.py
  tripper/units/units.py
Due: pylint, pylint-tests

Reverted test to work with EMMO 1.0.3
  tests/test_sparql.py
Due: pylint-tests

Allow to parse a context from a path objet (#565)
  tripper/datadoc/context.py
Due: pylint

Allow to separate columns on multiple characters
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added example to documentation.
  docs/datadoc/documenting-a-resource.md
Due: none

test(datadoc): cover IRI-valued search criteria (#564)
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added comment about keyring on WSL
  docs/session.md
Due: none

work in progress...
  tests/units/test_units.py
  tripper/units/__init__.py
  tripper/units/units.py
Due: pylint, pylint-tests

Added explanation for why `"nonexisting" in RDF` should be true.
  tests/test_namespace.py
Due: pylint-tests

Don't convert None returned by ts.query to string (#567)
  tests/test_sparql.py
  tripper/backends/rdflib.py
Due: pylint, pylint-tests

mkdocs-material==9.6.11 [1 vulnerability found]
  pyproject.toml
Due: none

Minor fix
  tripper/convert/convert.py
Due: pylint

Made it possible to specify multiple contexts to the datadoc CLI tool.
  tripper/datadoc/clitool.py
Due: pylint

Updated mkdocs due to safety issue (#571)
  pyproject.toml
Due: none

Made it possible to specify multiple contexts to the datadoc CLI tool. (#572)
  tripper/datadoc/clitool.py
Due: pylint
