Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added example with a custom datatype in Literal docstring
  tripper/literal.py
Due: pylint

Add better and more convenient support for rdf:JSON datatype (#228)
  tests/test_literals.py
  tripper/backends/rdflib.py
  tripper/literal.py
Due: pylint, pylint-tests

Updated cd_release workflow
  .github/workflows/cd_release.yml
Due: none

Updated documentation navigation.
  README.md
  docs/index.md
  mkdocs.yml
Due: none

Updated documentation navigation (#237)
  README.md
  docs/index.md
  mkdocs.yml
Due: none

Minor documentation fix
  docs/known-issues.md
  mkdocs.yml
Due: none

Minor fix for documentation layout (#238)
  docs/known-issues.md
  mkdocs.yml
Due: none

Update .github/workflows/cd_release.yml
  .github/workflows/cd_release.yml
Due: none

Updated cd_release workflow (#236)
  .github/workflows/cd_release.yml
Due: none

Corrected name of needed step in cd_workflow
  .github/workflows/cd_release.yml
Due: none

Update SINTEF/ci-cd v2.8.2 and update release workflow
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .pre-commit-config.yaml
Due: none

Add documentation on how to do a release
  docs/developers.md
  mkdocs.yml
Due: none

Use Trusted Publishers on PyPI (#243)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .pre-commit-config.yaml
  docs/developers.md
  mkdocs.yml
Due: none

Added option `ignore_unrecognised` to tripper.convert()
  tripper/convert/convert.py
Due: pylint

Added example to module documentation
  tripper/convert/convert.py
Due: pylint

Added argument `ignore_unrecognised` to tripper.convert() (#247)
  tripper/convert/convert.py
Due: pylint

Some print statements to find where pybacktrip fails
  tripper/convert/convert.py
  tripper/triplestore.py
Due: pylint

Added backend info to triplestore instance
  tripper/triplestore.py
Due: pylint

Make a copy of kwargs beforing storing the kwargs dict
  tripper/triplestore.py
Due: pylint

Ran pylint
  tripper/triplestore.py
Due: pylint

Fix naming of blanknodes
  tripper/convert/convert.py
  tripper/triplestore.py
Due: pylint

Fixed empty prefixes
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated version of mkdocs-material due to safety volnerabeility 72715
  pyproject.toml
Due: none

Ignore vulnerability instead of trying to fixing it...
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Working on adding an option to Triplestore.value() to return a list of matches
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Removed print statement
  tripper/triplestore.py
Due: pylint

Added option to Triplestore.value() to return a generator over all matching values
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added examples to expand_iri and prefix_iri() methods
  tripper/triplestore.py
Due: pylint

Update tripper/triplestore.py
  tripper/triplestore.py
Due: pylint

Fix empty prefix (#250)
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Fixed indentation
  tripper/triplestore.py
Due: pylint

Added option to Triplestore.value() to return a generator over all matching values (#252)
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Update n3 format for string with quotes.
  tripper/literal.py
Due: pylint

Update tripper/literal.py
  tripper/literal.py
Due: pylint

Added test_n3() and fixed the serialisation
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Update n3 format for string with quotes. (#253)
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Added property `prefer_sparql` allowing backends to indicate whether they prefer the sparql query() or triples() interface
  pyproject.toml
  tests/backends/test_collection.py
  tests/backends/test_rdflib.py
  tests/test_literals.py
  tests/test_triplestore.py
  tripper/backends/collection.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/errors.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/tripper.py
Due: pylint, pylint-tests

Commented out most of pre-commit-config
  .pre-commit-config.yaml
Due: none

Reverted .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Initial stub for dataset
  docs/api_reference/dataset/.pages
  docs/api_reference/dataset/dataset.md
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/input/datasets.yaml
  tripper/context/0.2/context.json
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
  tripper/triplestore.py
Due: pylint, pylint-tests
