Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Corrected references to source for SPARQL examples
  tests/test_sparql.py
Due: pylint-tests

Added more testing to restrictions() interface
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Get rid of the last warning in the tests
  tests/test_literals.py
Due: pylint-tests

Improved the handling of different return types from the query() method (#219)
  pyproject.toml
  tests/test_literals.py
  tests/test_sparql.py
  tests/test_triplestore.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added a sub-section about restrictions to the tutorial.
  docs/tutorial.md
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated tutorial
  docs/tutorial.md
Due: none

Added links to API documentation from the tutorial.
  docs/tutorial.md
  tripper/triplestore.py
Due: pylint

Updated tutorial
  docs/tutorial.md
  tripper/utils.py
Due: pylint

Apply suggestions from code review
  docs/tutorial.md
Due: none

Renamed the `return_dicts` argument of restrictions() to `asdict` and changed the default to True.
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Also updated the tutorial to use the new asdict argument of restrictions() method.
  docs/tutorial.md
Due: none

Get restrictions as dicts (#225)
  docs/tutorial.md
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Tutorial update (#227)
  docs/tutorial.md
  tests/test_triplestore.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Get rid of the last warning in the tests (#226)
  tests/test_literals.py
Due: pylint-tests

Added initial stub for parsing literals
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Added a fix for parsing rdflib literals.
  tripper/utils.py
Due: pylint

Added test for JSON literal
  tests/test_literals.py
Due: pylint-tests

Updated workaround for parsing rdflib literals
  tripper/utils.py
Due: pylint

Added more relevant tests
  tests/test_literals.py
Due: pylint-tests

Cleaned up backend tests
  tests/backends/test_collection.py
  tests/backends/test_rdflib.py
Due: pylint-tests

Added requirements for rdflib
  tests/backends/test_rdflib.py
Due: pylint-tests

Add a step where we list installed packages in ci_tests.yml
  .github/workflows/ci_tests.yml
Due: none

Updated dependencies in pyproject.toml
  pyproject.toml
Due: none

Updated pyproject.toml
  pyproject.toml
Due: none

Update tripper/utils.py
  tripper/utils.py
Due: pylint

Cleaned up backend tests (#230)
  .github/workflows/ci_tests.yml
  pyproject.toml
  tests/backends/test_collection.py
  tests/backends/test_rdflib.py
Due: pylint-tests

Added a fix for parsing rdflib literals. (#229)
  tests/test_literals.py
  tripper/utils.py
Due: pylint, pylint-tests

Fixed some bugs in json handling
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Update tests for parse_literal()
  tests/test_literals.py
Due: pylint-tests

Avoid that tripper.Namespace crashes if the cache directory cannot be accessed
  .pre-commit-config.yaml
  tripper/namespace.py
Due: pylint

Avoid intermediate Python object representation when passing literals to rdflib.
  tripper/backends/rdflib.py
Due: pylint

Updated documentation of literal.
  tripper/literal.py
Due: pylint

Added known-issues as suggested by reviewer.
  README.md
  docs/index.md
  docs/known-issues.md
  tripper/backends/rdflib.py
  tripper/namespace.py
Due: pylint

Fixed typo in example
  tripper/literal.py
Due: pylint

Fixed another typo
  tripper/literal.py
Due: pylint

Added typedef to docstring for Literal.
  tripper/literal.py
Due: pylint

Fixed typo in docstring for Literal
  tripper/literal.py
Due: pylint

Added documentation of the datatypes class attribute.
  tripper/literal.py
Due: pylint

Avoid that tripper.Namespace crashes if the cache directory cannot be accessed (#235)
  .pre-commit-config.yaml
  README.md
  docs/index.md
  docs/known-issues.md
  tripper/backends/rdflib.py
  tripper/namespace.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
