Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Add tests for query builder
  tests/query_builder/__init__.py
  tests/query_builder/conftest.py
  tests/query_builder/test_builder_integration.py
  tests/query_builder/test_builder_strings.py
  tests/query_builder/test_formatter.py
Due: pylint-tests

update
  docs/datadoc/prefixes.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

cleanup
  tests/datadoc/test_keywords.py
  tests/input/custom_keywords.yaml
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added Keywords.fromdicts() to populate a Keywords object from a sequence of dicts.
  docs/api_reference/datadoc/dictutils.md
  docs/api_reference/datadoc/utils.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_keywords.py
  tripper/context/process/0.1/context.json
  tripper/datadoc/__init__.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/datadoc/utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Disabled a few false positive pylint errors
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added keyring tip (#449)
  docs/session.md
  pyproject.toml
Due: none

cleanup
  tests/datadoc/test_keywords.py
  tripper/backends/rdflib.py
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Rewrote SPARQL query builder validation and formatting
  tests/query_builder/test_formatter.py
  tripper/query_builder/builder.py
  tripper/query_builder/elements.py
  tripper/query_builder/formatter.py
Due: pylint, pylint-tests

Organize and improve formatting tests
  tests/query_builder/test_formatter.py
Due: pylint-tests

Add security related tests
  tests/query_builder/test_security_attacks.py
  tripper/query_builder/builder.py
Due: pylint, pylint-tests

Add support for aggregations
  tests/query_builder/test_builder_integration.py
  tests/query_builder/test_builder_strings.py
  tests/query_builder/test_builder_validation.py
  tripper/query_builder/builder.py
Due: pylint, pylint-tests

Clean integration tests
  tests/query_builder/test_builder_integration.py
  tripper/query_builder/builder.py
Due: pylint, pylint-tests

Fix deprecation warnings (#448)
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tests/input/semdata-context.json
  tests/units/test_units.py
  tripper/datadoc/clitool.py
  tripper/datadoc/context.py
  tripper/units/units.py
  tripper/utils.py
Due: pylint, pylint-tests

Update docs/datadoc/keywords.md
  docs/datadoc/keywords.md
Due: none

Added a few extra tests for curie's
  tests/test_utils.py
Due: pylint-tests

Clean up keywords (#442)
  .gitignore
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  examples/classdoc/mysimulation.yaml
  pyproject.toml
  tests/datadoc/test_context.py
  tests/datadoc/test_keywords.py
  tests/input/custom_keywords.yaml
  tests/test_utils.py
  tripper/__init__.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/clitool.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/dictutils.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Added some improvements to the datadoc ttl file
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: none

Fixed some failures
  tests/datadoc/test_dataset.py
  tripper/context/datadoc.ttl
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Fix failing test
  tests/test_sparql.py
Due: pylint-tests

Fixed some issues with sparql backend
  tripper/backends/sparqlwrapper.py
Due: pylint

Many fixes of keywords
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/ontologies/family.ttl
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Updated annotation
  tripper/datadoc/keywords.py
Due: pylint

Updated tests
  tests/datadoc/test_dataaccess.py
Due: pylint-tests

Added stacklevel=2 to warning
  tripper/datadoc/keywords.py
Due: pylint

cleanup
  tripper/datadoc/keywords.py
Due: pylint

Changed `check_url` to default to `base_iri`
  tripper/triplestore.py
Due: pylint

Fixed some issues with sparql backend (#453)
  tripper/backends/sparqlwrapper.py
Due: pylint

Changed `check_url` to default to `base_iri` (#455)
  tripper/triplestore.py
Due: pylint

Updated return value of SPARQL queries for rdflib
  docs/session.md
  tests/backends/test_backends_sparql.py
  tests/datadoc/test_prefixes.py
  tests/input/session.yaml
  tests/test_sparql.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/datadoc/keywords.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added is_available() to interface file.
  tripper/backends/sparqlwrapper.py
  tripper/interface.py
Due: pylint

Added test that fail and some pritn statements that show error
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Pylint is not able to import local modules for tests - disabled it
  tests/datadoc/test_keywords.py
Due: pylint-tests

Ensure that SPARQL queries with the rdflib backend behaves similar to sparqlwrapper (#456)
  docs/session.md
  tests/backends/test_backends_sparql.py
  tests/datadoc/test_prefixes.py
  tests/input/session.yaml
  tests/test_sparql.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/datadoc/keywords.py
  tripper/interface.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Hack to get a commit that works for alcopop release, while waiting for proper fix
  tripper/datadoc/dataset.py
Due: pylint

Working on creating keywords tables
  docs/datadoc/keywords.md
  pyproject.toml
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added more tests for keywords
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added missing test input files and updated CI test badge
  README.md
  docs/index.md
  tests/input/invalid_keywords5.yaml
  tests/input/invalid_keywords6.yaml
  tests/input/invalid_keywords7.yaml
Due: none

Working on loading keywords from tables and rdf
  README.md
  docs/index.md
  tests/datadoc/test_keywords.py
  tests/ontologies/family.ttl
  tests/test_utils.py
  tripper/datadoc/context.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Added keywords.csv for testing
  tests/input/keywords.csv
Due: none

Update
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/test_session.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests
