Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Allow prefix with digits (#209)
  tripper/triplestore.py
Due: pylint

Use latest SINTEF/ci-cd version
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

In tripper.convert, commented out recognised keys for oteapi strategies.
  tripper/convert/convert.py
Due: pylint

In tripper.convert, commented out recognised keys for oteapi strategies (#212)
  tripper/convert/convert.py
Due: pylint

Also test for Python 3.12
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Use latest SINTEF/ci-cd version (#210)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

Allow string literal to compare equal to strings.
  tests/test_literals.py
  tripper/literal.py
  tripper/mappings/mappings.py
Due: pylint, pylint-tests

Cleaned up list of string literals
  tripper/literal.py
Due: pylint

Removed types that are not recommended to be used.
  tripper/literal.py
Due: pylint

Do not save cache while interpreter shotdown.
  tripper/namespace.py
Due: pylint

Correct parsing literals from the rdflib backend.
  tripper/backends/rdflib.py
Due: pylint

Update expected exception output in tutorial
  docs/tutorial.md
Due: none

Allow string literal to compare equal to strings. (#215)
  tests/test_literals.py
  tripper/literal.py
  tripper/mappings/mappings.py
Due: pylint, pylint-tests

Improved the handling of different return types from the query() method
  pyproject.toml
  tests/test_sparql.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated failing test
  tests/test_triplestore.py
Due: pylint-tests

Updated equality comparison
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Do not save cache while interpreter shotdown. (#216)
  docs/tutorial.md
  tripper/namespace.py
Due: pylint

Added additional tests
  tests/test_literals.py
Due: pylint-tests

Correct parsing literals from the rdflib backend. (#217)
  tests/test_literals.py
  tests/test_triplestore.py
  tripper/backends/rdflib.py
  tripper/literal.py
Due: pylint, pylint-tests

Fixed test failure
  tests/test_literals.py
  tests/test_triplestore.py
Due: pylint-tests

Updated the tutorial
  docs/tutorial.md
Due: none

fixed typo
  docs/tutorial.md
Due: none

Updated the tutorial (#220)
  docs/tutorial.md
Due: none

Minor fix in tutorial
  docs/tutorial.md
Due: none

Minor fix in tutorial (#221)
  docs/tutorial.md
Due: none

Added an additional test for convert
  tests/convert/test_convert.py
Due: pylint-tests

Fixed duplicated key
  tests/convert/test_convert.py
Due: pylint-tests

Trivial update from wsl
  docs/CHANGELOG.md
  docs/LICENSE.md
  tests/convert/test_convert.py
Due: pylint-tests

Correctly treted recognised keys
  tripper/convert/convert.py
Due: pylint

Added test for custom recognised keys
  tests/convert/test_convert.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
Due: pylint, pylint-tests

Silensed some pre-commit issues
  tripper/convert/convert.py
  tripper/utils.py
Due: pylint

Corrected links to CHANGELOG and LICENSE from docs
  docs/CHANGELOG.md
  docs/LICENSE.md
Due: none

Safety-issue on jinja2 used in documentation ignored
  .github/workflows/ci_tests.yml
Due: none

Update .github/workflows/ci_tests.yml
  .github/workflows/ci_tests.yml
Due: none

Added an additional test for convert (#223)
  .github/workflows/ci_tests.yml
  tests/convert/test_convert.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
  tripper/utils.py
Due: pylint, pylint-tests

Added test for CONSTRUCT query
  tests/test_sparql.py
Due: pylint-tests

Added more sparql tests
  tests/test_sparql.py
Due: pylint-tests

Better spec for Dlite-Python dependency
  pyproject.toml
Due: none

Added get_restriction_dict()
  tripper/triplestore.py
Due: pylint

Fixed some pre-commit warnings
  tests/test_sparql.py
Due: pylint-tests
