Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Updated documentation
  docs/dataset/datadoc.md
  tripper/dataset/dataset.py
  tripper/utils.py
Due: pylint

Added types (literal/iri) to datadoc-keywords.md and reordered context.json to match the order in datadoc-keywords.md
  docs/dataset/datadoc-keywords.md
  tripper/context/0.2/context.json
Due: none

Separated the data documentation introduction into an own page.
  README.md
  docs/dataset/documenting-a-resource.md
  docs/dataset/introduction.md
  docs/dataset/keywords.md
  docs/dataset/prefixes.md
  docs/index.md
  mkdocs.yml
Due: none

Added a section about customisation to the documentation
  docs/dataset/customisation.md
  docs/dataset/documenting-a-resource.md
  docs/dataset/introduction.md
  docs/dataset/keywords.md
  docs/dataset/prefixes.md
  mkdocs.yml
Due: none

Update docs/dataset/customisation.md
  docs/dataset/customisation.md
Due: none

Documented custum context
  docs/dataset/customisation.md
  docs/dataset/documenting-a-resource.md
  tests/dataset/test_dataset.py
  tests/input/custom_context.yaml
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added example with custom context
  docs/dataset/customisation.md
  tests/input/custom_context.yaml
Due: none

Correct example
  docs/dataset/customisation.md
Due: none

New TableDoc class providing a table interface for data documentation (#273)
  docs/api_reference/dataset/tabledoc.md
  pyproject.toml
  tests/dataset/dataset_paths.py
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tests/dataset/test_tabledoc.py
  tests/input/semdata.csv
  tripper/dataset/__init__.py
  tripper/dataset/dataaccess.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Added csv parser to Tabledoc (#275)
  .gitignore
  tests/dataset/test_tabledoc.py
  tests/input/semdata.csv
  tests/output/.gitignore
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Added datadoc tool
  docs/api_reference/dataset/datadoc.md
  docs/dataset/customisation.md
  mkdocs.yml
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/dataset/test_tabledoc.py
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Dataset TODOs (#279)
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Removed duplicated tests
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Removed duplicated test
  tests/dataset/test_dataset.py
Due: pylint-tests

Added documentation for datasets (#280)
  README.md
  docs/api_reference/triplestore_extend.md
  docs/api_reference/tripper.md
  docs/dataset/customisation.md
  docs/dataset/documenting-a-resource.md
  docs/dataset/introduction.md
  docs/dataset/keywords.md
  docs/dataset/prefixes.md
  docs/index.md
  mkdocs.yml
  tests/dataset/test_dataset.py
  tests/input/custom_context.yaml
  tests/input/openfile.txt
  tests/input/semdata.yaml
  tests/test_utils.py
  tripper/__init__.py
  tripper/context/0.2/context.json
  tripper/convert/convert.py
  tripper/dataset/dataaccess.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
  tripper/triplestore_extend.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated URL after branch dataset-docs has been merged to master.
  tests/test_utils.py
Due: pylint-tests

Updated tabledoc test
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Added more tests
  tests/dataset/test_dataset.py
Due: pylint-tests

Updated URL after dataset-docs was merged to master
  tests/test_utils.py
Due: pylint-tests

Skip test_fromdicts() if rdflib isn't available
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Updated dataset figures (#274)
  docs/figs/.$dataset.drawio.bkp
  tests/test_utils.py
Due: pylint-tests

Documented the datadoc tool
  docs/dataset/customisation.md
  docs/figs/semdata.png
  docs/tools/datadoc.md
  mkdocs.yml
  tests/input/semdata-context.json
  tests/input/semdata.csv
  tripper/context/0.2/context.json
  tripper/dataset/dataaccess.py
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
  tripper/utils.py
Due: pylint

Added documentation of isDescriptionFor
  docs/dataset/keywords.md
  tripper/dataset/tabledoc.py
Due: pylint

Updated mkdocs and fixed link warnings
  docs/dataset/customisation.md
  docs/dataset/documenting-a-resource.md
  docs/dataset/keywords.md
  docs/dataset/prefixes.md
  docs/tools/datadoc.md
  mkdocs.yml
  pyproject.toml
Due: none

Minor documentation update
  docs/tools/datadoc.md
Due: none

Fix failing test
  tests/dataset/test_dataset.py
Due: pylint-tests

Fix failing test
  tests/dataset/test_dataset.py
  tripper/dataset/datadoc.py
Due: pylint, pylint-tests

Added load sub-command to tabledoc
  docs/dataset/documenting-a-resource.md
  docs/dataset/keywords.md
  docs/tools/datadoc.md
  tests/dataset/test_tabledoc.py
  tests/input/semdata.csv
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Updated the figures
  docs/figs/dataset.drawio
Due: none

Apply suggestions from code review
  docs/dataset/customisation.md
Due: none

Corrected datadoc arguments and search_iris() search criterias
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
Due: pylint

Command-line datadoc script (#281)
  docs/api_reference/dataset/datadoc.md
  docs/dataset/customisation.md
  docs/dataset/documenting-a-resource.md
  docs/dataset/keywords.md
  docs/dataset/prefixes.md
  docs/figs/semdata.png
  docs/tools/datadoc.md
  mkdocs.yml
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/dataset/test_tabledoc.py
  tests/input/semdata-context.json
  tests/input/semdata.csv
  tripper/context/0.2/context.json
  tripper/dataset/dataaccess.py
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Re-applied fixes from testing datadoc on a use case for PINK.
  docs/dataset/customisation.md
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
Due: pylint

Replaced keyword arguments with a `criterias` argument in serach_iris()
  docs/tools/datadoc.md
  tests/dataset/test_dataset.py
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Replaced json highlighting with python highlighting
  docs/dataset/customisation.md
Due: none

Make datasets with a datamodel an individual of the datamodel as represented in the knowledge base
  tripper/dataset/dataset.py
Due: pylint

Updated test
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Corrected how to call search_iris() with criterias
  tripper/dataset/datadoc.py
Due: pylint

Update tripper/dataset/dataset.py
  tripper/dataset/dataset.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
