Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

typos
  docs/datadoc/customisation.md
Due: none

Update docs/datadoc/customisation.md
  docs/datadoc/customisation.md
Due: none

Finished example
  docs/datadoc/customisation.md
Due: none

work-in-progress-changes
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint

Updated requirements for Python 3.14
  pyproject.toml
Due: none

Allow keyword redefinition (#465)
  CHANGELOG.md
  LICENSE
  docs/datadoc/customisation.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/input/invalid_keywords1.yaml
  tests/input/invalid_keywords2.yaml
  tests/input/invalid_keywords3.yaml
  tests/input/invalid_keywords4.yaml
  tests/input/invalid_keywords5.yaml
  tests/input/invalid_keywords6.yaml
  tests/input/invalid_keywords7.yaml
  tests/input/invalid_keywords8.yaml
  tests/input/invalid_keywords9.yaml
  tests/input/valid_keywords.yaml
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Remove comment
  tripper/context/0.3/keywords.yaml
Due: none

Added note about individuals spelled with upper case
  tripper/context/datadoc.ttl
Due: none

Update keywords (#469)
  docs/datadoc/customisation.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes-process.md
  docs/datadoc/prefixes.md
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added contributor to keywords
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: pylint-tests

Updated failing test
  tests/datadoc/test_keywords.py
Due: pylint-tests

Remove default type for TableDoc (#466)
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/clitool.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added missing keywords (#470)
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: pylint-tests

Added initial stub documenting new search module.
  tripper/search.py
Due: pylint

Added docstring to make_query()
  tripper/search.py
Due: pylint

Updated the documentation of search.
  tripper/search.py
Due: pylint

Updated pyproject.toml
  pyproject.toml
Due: none

Updated keywords such that it is easier to use for generation of documentation.
  .gitignore
  docs/datadoc/keywords-process.md
  docs/developers.md
  pyproject.toml
  tests/datadoc/test_keywords.py
  tests/input/new_keywords.csv
  tests/output/.gitignore
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/units/.gitignore
  tripper/utils.py
Due: pylint, pylint-tests

Fixed docstring
  tripper/datadoc/keywords.py
Due: pylint

updated tests and error message
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Fixed some bugs in Keywords (#473)
  .gitignore
  docs/datadoc/keywords-process.md
  docs/developers.md
  pyproject.toml
  tests/datadoc/test_keywords.py
  tests/input/new_keywords.csv
  tests/output/.gitignore
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/0.3/prefixes.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/units/.gitignore
  tripper/utils.py
Due: pylint, pylint-tests

Avoid that keywords are reparsed for each concept in load_rdf()
  tests/datadoc/test_keywords.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Avoid adding newlines inside markdown tables
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Speedup (#474)
  tests/datadoc/test_keywords.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Update prefixes.yaml with ex:
  tripper/context/0.3/prefixes.yaml
Due: none

Update tripper/context/0.3/prefixes.yaml
  tripper/context/0.3/prefixes.yaml
Due: none

Started to look at documenting a given namespace
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Allow to filter generated markdown based namespace
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Updated docstring for infer_restriction_types()
  tripper/datadoc/dataset.py
Due: pylint

Updated help for --keywords option to the keywords cli tool.
  tripper/datadoc/keywords.py
Due: pylint

Restore license
  LICENSE
Due: none

Improved header for generated markdown
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Activated the --namespace-filter option to keywords cli tool.
  tripper/datadoc/keywords.py
Due: pylint

Corrected --nf option to keywords cli tool.
  tripper/datadoc/keywords.py
Due: pylint

Apply suggestions from code review
  tripper/datadoc/keywords.py
Due: pylint

Reimplemented update_classes()
  examples/classdoc/mysimulation.yaml
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/utils.py
Due: pylint, pylint-tests

Restore license (#478)
  LICENSE
Due: none

Added creationDate and creationTime to keywords.yaml
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: pylint-tests

Updating keywords
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
Due: pylint-tests

Allow to force redefining concepts
  tripper/datadoc/keywords.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
