Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added __contains__() method to namespace (#399)
  tests/test_namespace.py
  tripper/namespace.py
Due: pylint, pylint-tests

Reverted docs/datadoc/keywords.md from master
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Added serach in triplestore doc to nav
  docs/datadoc/customisation.md
  mkdocs.yml
Due: none

Update tripper/context/process/0.1/keywords.yaml
  tripper/context/process/0.1/keywords.yaml
Due: none

Added keywords for documenting characterisation processes (#391)
  tripper/context/process/0.1/keywords.yaml
Due: none

Fix issue #396 (#401)
  docs/datadoc/customisation.md
  docs/datadoc/fetching-resources-from-a-triplestore.md
  mkdocs.yml
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tests/test_utils.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Date and time literals (#406)
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Updated figures
  docs/figs/dataset.drawio
Due: none

Updated figures (#407)
  docs/figs/dataset.drawio
Due: none

Include sparqlwrapper in dependencies for datadoc
  pyproject.toml
Due: none

Include sparqlwrapper in dependencies for datadoc (#409)
  pyproject.toml
Due: none

Updated dataset figure
  docs/figs/dataset.drawio
  docs/figs/dataset.png
Due: none

Updated dataset figure (#410)
  docs/figs/dataset.drawio
  docs/figs/dataset.png
Due: none

Removed mypy warning by making url bytes-safe
  tripper/datadoc/dataaccess.py
Due: pylint

Also test and release Python 3.14
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Test for Python 3.14.0-rc2
  .github/workflows/ci_tests.yml
Due: none

Fix typo in 3.14.0-rc.2
  .github/workflows/ci_tests.yml
Due: none

Added constrains on python version for DLite
  pyproject.toml
Due: none

Removed minimum python version for DLite
  pyproject.toml
Due: none

Limited requirements that does not yet support Python 3.14
  pyproject.toml
Due: none

Added python version requirements for pylint
  pyproject.toml
Due: none

Added requirements on PyLD for tests
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_keywords.py
Due: pylint-tests

Added a few additional `importorskip(pyld)` calls to tests
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Put more requirements on pyld in the tests
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/test_markdown_doctest.py
Due: pylint-tests

Added todo-comment
  pyproject.toml
Due: none

Add support for Python 3.14 (#414)
  .github/workflows/ci_tests.yml
  pyproject.toml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/test_markdown_doctest.py
Due: pylint-tests

Updated installation instructions on the readme page.
  README.md
  docs/index.md
  pyproject.toml
Due: none

Updated installation instructions on the readme page. (#415)
  README.md
  docs/index.md
  pyproject.toml
Due: none

Updated figure with basic relations
  docs/figs/basic_relations.png
  docs/figs/dataset.drawio
Due: none

Updated figure with basic relations (#417)
  docs/figs/basic_relations.png
  docs/figs/dataset.drawio
Due: none

Updated basic relations figure
  docs/figs/basic_relations.png
  docs/figs/dataset.drawio
Due: none

Updated figure with basic_relations
  docs/figs/basic_relations.png
  docs/figs/dataset.drawio
Due: none

Fixed spelling of Dataset
  docs/figs/dataset.drawio
Due: none

Also updated png figure
  docs/figs/basic_relations.png
Due: none

Changed status to production
  pyproject.toml
Due: none

Changed pypi status to production (#418)
  pyproject.toml
Due: none

Added add_prefix() method to keywords module.
  docs/api_reference/units/ontologies/.pages
  docs/api_reference/units/ontologies/emmo.md
  docs/api_reference/units/unitsontology.md
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Corrected importorskip for PyLD (corrected to pyld)
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
Due: pylint-tests
