Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Use default context/keywords in search
  tripper/datadoc/dataset.py
Due: pylint

Do not add default theme to keywords if keywords already exist
  tripper/datadoc/dataset.py
Due: pylint

Correct hadnling of keywords and themes
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Test using rdflib to parse jsonld into triplestore
  tripper/datadoc/context.py
Due: pylint

Apply suggestion from @francescalb
  tripper/datadoc/dataset.py
Due: pylint

Corrected comon handling of keywords for multiresouce and singleresource
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Removed unnecessary warning
  tripper/datadoc/keywords.py
Due: pylint

Added the possibility of specifiying baseiri for relative iris
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
  tripper/errors.py
Due: pylint

Removed unnecessary warning (#500)
  tripper/datadoc/keywords.py
Due: pylint

Added test for baseiri
  tests/datadoc/test_dataset.py
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Started writing a validation document
  docs/validation.md
Due: none

Corrected iri for mediaType example datasets
  examples/classdoc/mysimulation.yaml
  tests/input/semdata.yaml
  tripper/datadoc/dataset.py
Due: pylint

Updated clitool accordingly
  tripper/datadoc/clitool.py
Due: pylint

Uniform namesapceof iana
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/input/semdata.csv
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

initial work
  tripper/datadoc/dataset.py
Due: pylint

Update pyld and emmontopy without python restriction
  pyproject.toml
Due: none

Apply suggestion from @jesper-friis
  tripper/datadoc/clitool.py
Due: pylint

Update according to reviwe
  tripper/datadoc/context.py
Due: pylint

Also install dlite on python 3.14
  pyproject.toml
Due: none

Corrected rdf serialisation
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
Due: pylint

Updated test_keywords after cleaning up keywords.yaml
  tests/datadoc/test_keywords.py
Due: pylint-tests

Skip tests that require dlite if dlite is unavailable
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Generalised update_classes() to update_restrictions()
  tests/datadoc/test_dataset.py
  tripper/__init__.py
  tripper/datadoc/dataset.py
  tripper/namespace.py
Due: pylint, pylint-tests

Corrected other tests due increased validation
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  pyproject.toml
  tests/backends/datadocumentation_sample.yaml
  tests/backends/datadocumentation_sample2.yaml
  tests/datadoc/test_dataset.py
  tripper/backends/collection.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Do not try to expand a blank node
  tripper/datadoc/dataset.py
Due: pylint

Skip test_fetch() if dlite is not available
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Try to avoid installing graphviz
  .github/workflows/ci_tests.yml
Due: none

Skip test requirering graphviz if it is not available
  examples/workflow-mappings/workflow_mappings.py
  tests/datadoc/test_datadoc_cli.py
Due: pylint, pylint-tests

Get rid of false pylint errors
  tripper/backends/collection.py
  tripper/datadoc/dataaccess.py
Due: pylint

Correct rdf serialisation (#502)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_keywords.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Added comments to tests and made them more sensible
  tests/datadoc/test_dataset.py
Due: pylint-tests

Apply suggestion from @francescalb
  tests/datadoc/test_dataset.py
Due: pylint-tests

Update tests/datadoc/test_dataset.py
  tests/datadoc/test_dataset.py
Due: pylint-tests

Update tripper/datadoc/dataset.py
  tripper/datadoc/dataset.py
Due: pylint

Removed too broad pytest.importorskip()
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Made namespace expansion of @id forgiving
  tests/datadoc/test_dataset.py
  tests/test_triplestore.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Skip test depending on test_sparqlwrapper() if sparqlwrapper is not available
  tests/test_triplestore.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Restrictions on individuals (#503)
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  pyproject.toml
  tests/backends/datadocumentation_sample.yaml
  tests/backends/datadocumentation_sample2.yaml
  tests/datadoc/test_datadoc_cli.py
  tests/datadoc/test_dataset.py
  tests/test_triplestore.py
  tripper/__init__.py
  tripper/backends/collection.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/namespace.py
Due: pylint, pylint-tests

Cleaned up test of update_restrictions()
  tests/datadoc/test_dataset.py
Due: pylint-tests

Changed sxd:date to xsd:dateTime in keywords
  docs/datadoc/keywords-process.md
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none
