Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

table_parse add header with rpefix and as iris
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
Due: pylint-tests

heders given as full iris are not considered nested
  tripper/datadoc/context.py
  tripper/datadoc/tabledoc.py
  tripper/datadoc/utils.py
Due: pylint

Added the possibility to add prefixed and full iris as headers
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/context.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added test for unknown header
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Test that wrong header is caught
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Removed unecessary code
  tripper/datadoc/context.py
Due: pylint

update pytest because of vulnerability
  pyproject.toml
Due: none

Update context for clitest using same semdata.csv
  tests/input/semdata-context-ext.json
Due: none

Removed support for python3.9 (eol) and pytest vulnerability
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Update tests/datadoc/test_tabledoc.py
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Fixes from review
  .github/workflows/ci_check_dependencies.yml
  tripper/datadoc/tabledoc.py
Due: pylint

table_parse add header with prefix and as iris (#553)
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
  tests/datadoc/test_tabledoc.py
  tests/input/semdata-context-ext.json
  tests/input/semdata.csv
  tripper/datadoc/context.py
  tripper/datadoc/tabledoc.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Fix context in doctest
  docs/datadoc/documenting-a-resource.md
Due: none

Fix context in doctest (#555)
  docs/datadoc/documenting-a-resource.md
Due: none

docs: quote pip extras install examples
  README.md
  docs/developers.md
  docs/index.md
Due: none

Added option on how to consider keys that are unknown when storing
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Correct queries with IRI, so that they are not put as strings
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Fix issue when the domain is a logical construct
  tripper/datadoc/keywords.py
Due: pylint

Fix issue when the domain is a logical construct (#560)
  tripper/datadoc/keywords.py
Due: pylint

Update documentation of available contexts in get_context
  tripper/datadoc/context.py
Due: pylint

allow for two prefixes pointing to same namespace in context
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Update documentation of available contexts in get_context (#561)
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Correct so that validation does not distinguish between prefix:name and correct iri
  tripper/datadoc/dataset.py
Due: pylint

Npt be too strict
  tripper/datadoc/dataset.py
Due: pylint

Update tripper/datadoc/tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint

Apply suggestion from @francescalb
  tripper/datadoc/tabledoc.py
Due: pylint

Added option on how to consider keys that are unknown when storing (#559)
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Fixed formatting in the documentation of table headers
  docs/datadoc/documenting-a-resource.md
Due: none

Allowed to omit initial ?-sign in table header with no label
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added two more examples
  docs/datadoc/documenting-a-resource.md
Due: none

Allow prefixes argument of expand_iri() to map to a Namespace object.
  tripper/utils.py
Due: pylint

Simplify header syntax (#562)
  docs/datadoc/documenting-a-resource.md
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Updated docstring
  tripper/utils.py
Due: pylint

Added solution so that expanded prefix + name is resolved to IRI.
  tests/test_utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Added test for precendence in namespace
  tests/test_namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Make sure that context searhces for expanded iri
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Allow prefixes argument of expand_iri() to map to a Namespace object. (#563)
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tests/test_namespace.py
  tests/test_utils.py
  tripper/datadoc/context.py
  tripper/utils.py
Due: pylint, pylint-tests

Corrected issues with lates version of mypy
  pyproject.toml
  tripper/convert/convert.py
  tripper/datadoc/dataaccess.py
Due: pylint

fix(datadoc): match IRI search criteria as RDF terms
  tests/datadoc/test_dataset.py
Due: pylint-tests
