Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Fixed tests
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added test for parsing keywords from csv
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/input/keywords.csv
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Renamed load/save methods for improved consistency
  tests/datadoc/test_keywords.py
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added save_table() method
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added explanation and documentation of special keywords to documentation
  .hooks/generate-context-and-doc.sh
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Update tripper/datadoc/keywords.py
  tripper/datadoc/keywords.py
Due: pylint

Correced failing test
  tests/datadoc/test_dataset.py
Due: pylint-tests

Apply suggestion from @jesper-friis
  tripper/datadoc/keywords.py
Due: pylint

Improved er message and fixed minor issue when reading data from PINK.
  tripper/datadoc/keywords.py
Due: pylint

Also test the case of missing type
  tests/datadoc/test_keywords.py
Due: pylint-tests

work in progress...
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

work-in-progress
  docs/datadoc/keywords.md
  tests/datadoc/test_context.py
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added allow_redefine argument
  tripper/datadoc/keywords.py
Due: pylint

Reformatted
  tripper/datadoc/keywords.py
Due: pylint

Added test for redefininf keywords and start of doc for ttl->keywords
  docs/datadoc/customisation.md
  tests/datadoc/test_keywords.py
Due: pylint-tests

strict to false in test
  tests/datadoc/test_keywords.py
Due: pylint-tests

Updated behaviour of redefining keywords
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/input/invalid_keywords0.yaml
  tests/input/invalid_keywords1.yaml
  tests/input/invalid_keywords2.yaml
  tests/input/invalid_keywords3.yaml
  tests/input/invalid_keywords4.yaml
  tests/input/invalid_keywords5.yaml
  tests/input/invalid_keywords6.yaml
  tests/input/invalid_keywords7.yaml
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Pre-commit changes
  tests/datadoc/test_keywords.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Fixed tests and pre-commit
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Cleanup
  tripper/datadoc/keywords.py
Due: pylint

cleanup
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint

Fixed implementation issue
  CHANGELOG.md
  LICENSE
  docs/datadoc/keywords.md
  tests/datadoc/test_keywords.py
  tests/input/invalid_keywords1.yaml
  tests/input/invalid_keywords4.yaml
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Adding missing test files
  tests/input/invalid_keywords8.yaml
  tests/input/invalid_keywords9.yaml
  tripper/datadoc/keywords.py
Due: pylint

Added missing test file
  tests/input/valid_keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint

Remove default type for TableDoc
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Add --type option to add subcommand
  tripper/datadoc/clitool.py
Due: pylint

Added explicit type to dataset
  tests/datadoc/test_datadoc_cli.py
Due: pylint-tests

Make it possible to duplicate nested table headers
  tests/datadoc/test_datadoc_utils.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

updating tabledoc.test_asdicts()
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Added stripheaders() method for stripping off brackets from header keys
  tests/datadoc/test_datadoc_utils.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
  tripper/datadoc/utils.py
Due: pylint, pylint-tests

Fix failing tests
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Fix doctest
  tripper/datadoc/utils.py
Due: pylint

Apply suggestion from @jesper-friis
  docs/datadoc/customisation.md
Due: none

Replaced some warnings for information to info-level logging.
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint

Changed yet another warning to logger.info
  tripper/datadoc/dataset.py
Due: pylint

Reintroduced RedefineKeywordWarning
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint

Added SkipRedefineKeywordWarning
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint

Updated documentation
  docs/datadoc/customisation.md
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
