Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/ambv/black
    rev: 23.9.1
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.5.1
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Fix typo
  tripper/triplestore.py
Due: pylint

Added graph option to the rdflib backend allowing to expose an existing rdflib graph via tripper.
  tests/test_triplestore.py
  tripper/backends/rdflib.py
Due: pylint, pylint-tests

Skip test_backend_rdflib_graph if rdflib is not available
  tests/test_triplestore.py
Due: pylint-tests

Added Triplestore._get_cost()
  tripper/triplestore.py
Due: pylint

Update tripper/backends/rdflib.py
  tripper/backends/rdflib.py
Due: pylint

Added test for cost functions
  tests/mappings/test_cost.py
Due: pylint-tests

Added support for function repo
  tripper/mappings/mappings.py
  tripper/triplestore.py
Due: pylint

Added return annotation to eval_function()
  tripper/triplestore.py
Due: pylint

Added pytest.importskip to test_eval_function.py
  tests/test_eval_function.py
Due: pylint-tests

Remove comment
  tests/test_triplestore.py
Due: pylint-tests

Started to updating collection backend
  tests/test_collection.py
  tripper/backends/collection.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Corrected some issues and fixed some pre-commit complains
  tests/test_collection.py
  tripper/backends/collection.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Retain datatype when listing literals from rdflib
  tests/backends/test_rdflib.py
  tripper/utils.py
Due: pylint, pylint-tests

Started working on issue #161...
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Fixed parse_literal() to correctly parse rdflib literals as well
  tripper/mappings/mappings.py
  tripper/utils.py
Due: pylint

Improved equality comparisasons
  tests/test_literals.py
  tests/test_namespace.py
  tripper/literal.py
Due: pylint, pylint-tests

Removed some debugging print statements
  tests/backends/test_collection.py
  tripper/backends/collection.py
Due: pylint, pylint-tests

Added test for that literals really are retained after serialisation by the collection backend.
  tests/backends/test_collection.py
  tripper/backends/collection.py
Due: pylint, pylint-tests

Changed `backend` argument of parse() and serialize() methods to `fallback_backend`.
  tests/backends/test_collection.py
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Removed unnessesary conditional
  tripper/utils.py
Due: pylint

Update tests/test_eval_function.py
  tests/test_eval_function.py
Due: pylint-tests

Added a small correction
  tests/test_eval_function.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Fix order of things to check in if-statement
  tripper/utils.py
Due: pylint

Fixed failing tests
  tests/conftest.py
  tests/test_add_function.py
  tests/test_eval_function.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Picked fix to failing tests from PR #161
  tests/conftest.py
  tests/test_add_function.py
  tests/test_eval_function.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Readded test for datatype
  tests/test_literals.py
Due: pylint-tests

Apply suggestions from code review
  tripper/literal.py
Due: pylint

Added tests suggested by reviewer
  tests/test_literals.py
Due: pylint-tests

Some pylint cleanup
  tripper/triplestore.py
Due: pylint

Fixing errors in collection
  tests/test_collection.py
  tripper/backends/collection.py
Due: pylint, pylint-tests

Update tests/test_literals.py
  tests/test_literals.py
Due: pylint-tests

Update tests/test_collection.py
  tests/test_collection.py
Due: pylint-tests

Changed the return type of parse_object() to Any, because mypy has its own interpretation of Literal.
  pyproject.toml
  tests/test_collection.py
  tests/test_literals.py
  tripper/backends/collection.py
  tripper/utils.py
Due: pylint, pylint-tests

Revert "Bump codecov/codecov-action from 3 to 4 (#169)"
  .github/workflows/ci_tests.yml
Due: none

Add codecov token
  .github/workflows/ci_tests.yml
Due: none

Increased the version of DLite required by the collection backend to v0.5.
  pyproject.toml
Due: none

Added acknowledgements to readme file.
  README.md
  docs/index.md
Due: none

Fixing issues with new version of blacken
  examples/workflow-mappings/workflow_mappings.py
  tests/backends/dummy.py
  tests/backends/test_rdflib.py
  tests/conftest.py
  tests/convert/test_convert.py
  tests/mappings/test_cost.py
  tests/test_add_function.py
  tests/test_collection.py
  tests/test_custom_backend.py
  tests/test_eval_function.py
  tests/test_get_data.py
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/__init__.py
  tripper/backends/__init__.py
  tripper/backends/collection.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/backends/sparqlwrapper.py
  tripper/convert/__init__.py
  tripper/convert/convert.py
  tripper/interface.py
  tripper/literal.py
  tripper/mappings/__init__.py
  tripper/mappings/mappings.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/tripper.py
  tripper/utils.py
Due: pylint, pylint-tests

Test possible mypy issue
  tripper/backends/collection.py
Due: pylint

Update README.md
  README.md
Due: none
