Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Fixed f-string
  tripper/convert/convert.py
Due: pylint

Corrected how to write IRIs
  tripper/convert/convert.py
Due: pylint

Cleaned up mappings module
  tripper/mappings/__init__.py
  tripper/mappings/mappings.py
Due: pylint

Added graphviz to testing requirements
  pyproject.toml
Due: none

Clearified that tripper does not depend on DLite and Pydantic.
  tests/test_utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Add improved error message for missing routes. This would also allow correct handling of the `allow_incomplete` option.
  tripper/mappings/mappings.py
Due: pylint

Update tripper/mappings/mappings.py
  tripper/mappings/mappings.py
Due: pylint

Added test to check if DLite is installed for test_collection
  tests/test_collection.py
Due: pylint-tests

Tried to remove errors on duplicate code in tests
  .github/workflows/ci_tests.yml
  tests/test_collection.py
  tests/test_utils.py
Due: pylint-tests

add pytest to tests without dependencies
  .github/workflows/ci_tests.yml
Due: none

pytest-cov must be included
  .github/workflows/ci_tests.yml
Due: none

Tests for collection and utils into separate functions.
  tests/test_collection.py
  tests/test_utils.py
Due: pylint-tests

Removed hard numpy requirements for mappings.
  tests/test_get_data.py
  tests/test_triplestore.py
  tripper/mappings/mappings.py
Due: pylint, pylint-tests

Pytest only tests the testsfolder when only basic is installed. Sparqlwrapper test skipped if package missing
  .github/workflows/ci_tests.yml
  tests/test_triplestore.py
Due: pylint-tests

Update tests/test_add_function
  tests/test_add_function.py
Due: pylint-tests

Don't test convert if rdflib not installed
  tests/convert/test_convert.py
Due: pylint-tests

tests for mappings not run if rdflib missing
  tests/mappings/test_function.py
  tests/mappings/test_mappings.py
Due: pylint-tests

test_namespce and test_triplestore not tested if missing imports
  tests/test_namespace.py
  tests/test_triplestore.py
Due: pylint-tests

Error message
  tests/test_triplestore.py
Due: pylint-tests

typo
  tests/test_triplestore.py
Due: pylint-tests

Changed hash as putting it into a testfunction changed the funtion_id
  tests/test_add_function.py
Due: pylint-tests

dynamic funciton_id
  tests/test_add_function.py
Due: pylint-tests

import error
  tests/test_utils.py
Due: pylint-tests

Update .github/workflows/ci_tests.yml
  .github/workflows/ci_tests.yml
Due: none

update in requirements for core-testing with versions
  .github/workflows/ci_tests.yml
Due: none

Moved some requirements according to reviewers desires
  pyproject.toml
  tests/convert/test_convert.py
  tests/mappings/test_mappings.py
Due: pylint-tests

unify naming of core-testing
  pyproject.toml
Due: none

Update tests/test_collection.py
  tests/test_collection.py
Due: pylint-tests

Added new section to README file
  README.md
  docs/index.md
Due: none

Test pin0.16.1
  pyproject.toml
Due: none

Go to version 0.22 in pint
  pyproject.toml
Due: none

Get rid of confusing UnusedArgumentWarning from working code
  tests/test_triplestore.py
  tripper/backends/rdflib.py
  tripper/errors.py
  tripper/namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated PR template
  .github/pull_request_template.md
Due: none

Added documentation of mapping function
  tests/conftest.py
  tests/test_add_function.py
  tripper/namespace.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added Triplestore.get_function() method
  tripper/errors.py
  tripper/triplestore.py
Due: pylint

Added UnknownUnitError
  tripper/mappings/mappings.py
Due: pylint

Adding test for get_function
  tests/test_get_function.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added eval_function()
  tests/test_eval_function.py
  tests/test_get_function.py
  tests/test_triplestore.py
  tripper/triplestore.py
Due: pylint, pylint-tests

update triplestore
  tripper/triplestore.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
