Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Add additional docstrings
  tripper/query_builder/builder.py
Due: pylint

Unify variable passing to always require a ? or $ prefix
  tripper/query_builder/builder.py
  tripper/query_builder/formatter.py
Due: pylint

initial implementation
  tests/datadoc/test_prefixes.py
  tripper/__init__.py
  tripper/datadoc/prefixes.py
  tripper/namespace.py
Due: pylint, pylint-tests

Clean up keywords
  .gitignore
  .pre-commit-config.yaml
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/dictutils.py
  tripper/datadoc/keywords.py
Due: pylint

Updated and tested saving/loading prefixes
  .pre-commit-config.yaml
  docs/api_reference/datadoc/prefixes.md
  tests/datadoc/test_prefixes.py
  tripper/datadoc/prefixes.py
Due: pylint, pylint-tests

Skip tests if pyld is not installed
  tests/datadoc/test_prefixes.py
  tripper/datadoc/__init__.py
  tripper/datadoc/prefixes.py
Due: pylint, pylint-tests

Apply suggestion from @jesper-friis
  tests/datadoc/test_prefixes.py
Due: pylint-tests

Update tripper/datadoc/prefixes.py
  tripper/datadoc/prefixes.py
Due: pylint

Applied some pre-commit formatting
  tests/datadoc/test_prefixes.py
Due: pylint-tests

Fixed formatting
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  docs/api_reference/.pages
  docs/api_reference/backends/.pages
  docs/api_reference/backends/ontopy.md
  docs/api_reference/backends/rdflib.md
  docs/api_reference/interface.md
  docs/api_reference/triplestore.md
  docs/css/reference.css
  docs/developers.md
  docs/index.md
  docs/tutorial.md
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/ontologies/family.ttl
  tests/ontologies/food.ttl
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tripper/__init__.py
  tripper/backends/__init__.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

temporary commented out problematic test
  .github/workflows/ci_tests.yml
Due: none

Fix formatting2 (#445)
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  docs/api_reference/.pages
  docs/api_reference/backends/.pages
  docs/api_reference/backends/ontopy.md
  docs/api_reference/backends/rdflib.md
  docs/api_reference/interface.md
  docs/api_reference/triplestore.md
  docs/css/reference.css
  docs/developers.md
  docs/index.md
  docs/tutorial.md
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/ontologies/family.ttl
  tests/ontologies/food.ttl
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tripper/__init__.py
  tripper/backends/__init__.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Restore formatting
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  docs/api_reference/.pages
  docs/api_reference/backends/.pages
  docs/api_reference/backends/ontopy.md
  docs/api_reference/backends/rdflib.md
  docs/api_reference/interface.md
  docs/api_reference/triplestore.md
  docs/css/reference.css
  docs/developers.md
  docs/index.md
  docs/tutorial.md
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/ontologies/family.ttl
  tests/ontologies/food.ttl
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tripper/__init__.py
  tripper/backends/__init__.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Reverted errorous formattings
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Restore formatting (#446)
  .github/dependabot.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  docs/api_reference/.pages
  docs/api_reference/backends/.pages
  docs/api_reference/backends/ontopy.md
  docs/api_reference/backends/rdflib.md
  docs/api_reference/interface.md
  docs/api_reference/triplestore.md
  docs/css/reference.css
  docs/developers.md
  docs/index.md
  docs/tutorial.md
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/ontologies/family.ttl
  tests/ontologies/food.ttl
  tests/test_literals.py
  tests/test_namespace.py
  tests/test_triplestore.py
  tripper/__init__.py
  tripper/backends/__init__.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/interface.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Test against latest 3.14 instead of release candicate rc2
  .github/workflows/ci_tests.yml
Due: none

Corrected failing test
  pyproject.toml
  tests/datadoc/test_keywords.py
  tripper/context/0.3/keywords.yaml
Due: pylint-tests

Documented additional description fields for a keyword
  tripper/context/0.3/keywords.yaml
Due: none

Test against latest Python 3.14 instead of release candidate rc2 (#447)
  .github/workflows/ci_tests.yml
Due: none

Store prefixes to triplestore (#443)
  docs/api_reference/datadoc/prefixes.md
  tests/datadoc/test_prefixes.py
  tripper/__init__.py
  tripper/datadoc/__init__.py
  tripper/datadoc/prefixes.py
  tripper/namespace.py
Due: pylint, pylint-tests

Added additional valid keys to keywords
  tripper/datadoc/keywords.py
Due: pylint

Renamed doamin to theme, added the ddoc prefix and fixed failing tests
  tests/datadoc/test_keywords.py
  tripper/__init__.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/namespace.py
Due: pylint, pylint-tests

Fixed issues related to renaming keywords domain to theme
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  examples/classdoc/mysimulation.yaml
  pyproject.toml
  tests/datadoc/test_keywords.py
  tests/input/custom_keywords.yaml
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Readded domain as a valid field for a keyword
  tripper/datadoc/keywords.py
Due: pylint

Allow adding to subPropertyOf
  tripper/datadoc/keywords.py
Due: pylint

Removed some deprecation warnings
  tests/datadoc/test_dataset.py
  tests/units/test_units.py
  tripper/datadoc/clitool.py
  tripper/units/units.py
Due: pylint, pylint-tests

Removed some deprecation warnings
  tests/datadoc/test_dataset.py
Due: pylint-tests

Brought back test_get_jsonld_context() to its original state.
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added keywords option to the clitool
  tripper/datadoc/clitool.py
  tripper/datadoc/tabledoc.py
Due: pylint

Updated context to load from file
  tripper/datadoc/context.py
  tripper/utils.py
Due: pylint

Added missing tests
  tests/datadoc/test_context.py
  tests/input/semdata-context.json
  tripper/datadoc/context.py
Due: pylint, pylint-tests

Disable invalid pylint error
  tests/datadoc/test_context.py
Due: pylint-tests

Added keyring tip
  docs/session.md
  pyproject.toml
Due: none

Updated keyring tip
  docs/session.md
Due: none

Initial implementation of saving of keywords to rdf
  docs/datadoc/keywords.md
  pyproject.toml
  tests/datadoc/test_keywords.py
  tests/ontologies/family.ttl
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/datadoc.ttl
  tripper/context/process/0.1/context.json
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/namespace.py
  tripper/utils.py
Due: pylint, pylint-tests

Update type hints for callback parameters in SPARQLQuery methods
  tripper/query_builder/builder.py
Due: pylint

Fix graph reference formatting in GraphBlock class
  tripper/query_builder/elements.py
Due: pylint
