Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added new TableDoc class providing a table interface for data documentation.
  docs/api_reference/dataset/tabledoc.md
  pyproject.toml
  tests/dataset/dataset_paths.py
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tests/dataset/test_tabledoc.py
  tripper/dataset/__init__.py
  tripper/dataset/dataaccess.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Import indir/outdir inside test functions
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Fixed doctest issue
  tripper/dataset/dataset.py
Due: pylint

Skip test_tabledoc if rdflib isn't available
  tests/dataset/test_tabledoc.py
Due: pylint-tests

More pylint fixes...
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
Due: pylint-tests

Placed importskip before importing EMMO
  tests/dataset/test_tabledoc.py
Due: pylint-tests

typo
  tests/dataset/test_dataaccess.py
  tests/dataset/test_dataset.py
Due: pylint-tests

Update tripper/dataset/dataset.py
  tripper/dataset/dataset.py
Due: pylint

Added blank lines before lists in docstrings as suggested by flb
  tripper/dataset/dataset.py
Due: pylint

Updated dataset module (#272)
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/context/0.2/context.json
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Fixed pylint errors
  tripper/dataset/dataset.py
Due: pylint

updated figures
  docs/figs/.$dataset.drawio.bkp
Due: none

added csv file
  tests/input/semdata.csv
Due: none

Added csv parser
  tests/dataset/test_tabledoc.py
  tests/input/semdata.csv
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Updated the test
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Fixed failing tests
  tests/dataset/test_tabledoc.py
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Added encoding to keyword arguments
  tests/input/semdata.csv
  tripper/dataset/tabledoc.py
Due: pylint

Add draft for JSON-LD
  tests/input/semdata.json
Due: none

Remove example prefix
  tests/input/semdata.json
Due: none

Add blank node for distribution and remove parser
  tests/input/semdata.json
Due: none

Add multiple datasets in one go with parser and sample
  tests/input/semdata_multiple.json
Due: none

Fix comma
  tests/input/semdata.json
Due: none

Strip off blanks when parsing a table.
  tripper/dataset/tabledoc.py
Due: pylint

Added extra test to ensure that all properties are parsed correctly
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Added write_csv() method to TableDoc
  tests/dataset/test_tabledoc.py
  tripper/dataset/tabledoc.py
Due: pylint, pylint-tests

Save serialised documentation to turtle file.
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Apply suggestions from code review
  pyproject.toml
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Apply suggestions from code review
  tripper/dataset/tabledoc.py
Due: pylint

Added a clarifying comment as a responce to review comment by @torhaugl.
  tests/dataset/test_tabledoc.py
Due: pylint-tests

Fix test failure
  tripper/dataset/tabledoc.py
Due: pylint

Added `context` argument to get_jsonld_context()
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added `context` argument to get_prefixes()
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Added `context? argument to get_shortnames()
  tripper/dataset/dataset.py
Due: pylint

Updated .gitignore files
  .gitignore
  tests/output/.gitignore
Due: none

Added documentation for the dataset sub-package
  README.md
  docs/dataset/datadoc-keywords.md
  docs/dataset/datadoc-prefixes.md
  docs/dataset/datadoc.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  tests/dataset/test_dataset.py
  tests/input/openfile.txt
  tests/input/semdata.yaml
  tests/test_utils.py
  tripper/context/0.2/context.json
  tripper/convert/convert.py
  tripper/dataset/dataset.py
  tripper/dataset/tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Added return annotation to utils.openfile()
  README.md
  docs/index.md
  tripper/convert/convert.py
  tripper/dataset/dataaccess.py
  tripper/utils.py
Due: pylint

Try to avoid pytest failure during collection phase.
  docs/api_reference/triplestore_extend.md
  docs/api_reference/tripper.md
  tripper/__init__.py
  tripper/triplestore_extend.py
  tripper/utils.py
Due: pylint

Remove --ignore=examples from pytest options in pyproject.toml
  pyproject.toml
Due: none

Fix CI doctest bug
  tripper/__init__.py
Due: pylint

Use relative import from __init__.py file
  tripper/__init__.py
Due: pylint
