Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Updated argument name
  tripper/backends/sparqlwrapper.py
Due: pylint

Added disable to pylint
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
Due: pylint-tests

Added a context.yaml file
  tripper/context/0.2/context.yaml
  tripper/datadoc/context.py
Due: pylint

Updated entry_points
  .pre-commit-config.yaml
  pyproject.toml
  tripper/context/0.2/keywords.yaml
  tripper/datadoc/keywords.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint

Update
  pyproject.toml
  tripper/datadoc/__init__.py
Due: pylint

Updated parsing keywords yaml file
  tests/test_utils.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Cleaned up keywords and added test
  docs/api_reference/datadoc/keywords.md
  pyproject.toml
  tests/datadoc/dataset_paths.py
  tests/datadoc/test_keywords.py
  tests/output/.gitignore
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/convert/convert.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/mappings/mappings.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/triplestore_extend.py
  tripper/utils.py
Due: pylint, pylint-tests

adding write_doc_keywords()
  tripper/datadoc/keywords.py
Due: pylint

Updated keywords
  tests/datadoc/test_keywords.py
  tests/output/.gitignore
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added Keywords.write_doc_prefixes() method
  tests/datadoc/test_keywords.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added command-line tool.
  pyproject.toml
  tests/test_utils.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added keywords to pre-commit hooks
  .pre-commit-config.yaml
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  pyproject.toml
  tripper/context/0.3/context.json
  tripper/datadoc/keywords.py
Due: pylint

Fixed running keywords as part of pre-commit
  tripper/context/0.3/context.json
  tripper/datadoc/keywords.py
Due: pylint

Switch order of name and value for entry points
  pyproject.toml
  tripper/datadoc/keywords.py
Due: pylint

Cleaned up generated keywords documentation
  docs/datadoc/keywords.md
  tripper/datadoc/keywords.py
Due: pylint

Skip test_parse_default() if rdflib isn't installed
  tests/datadoc/test_keywords.py
Due: pylint-tests

fixed typo
  tests/datadoc/test_keywords.py
Due: pylint-tests

disabled annoying pylint failure
  .pre-commit-config.yaml
  tests/datadoc/test_keywords.py
Due: pylint-tests

Try to see if we can avoid to run the generate-context-and-doc pre-commit hook on github
  .pre-commit-config.yaml
Due: none

Skip generate-context-and-doc
  .github/workflows/ci_tests.yml
Due: none

Skipping generating documentation with pre-commit...
  .pre-commit-config.yaml
Due: none

cleanup
  pyproject.toml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Added session
  .pre-commit-config.yaml
  docs/api_reference/session.md
  docs/session.md
  mkdocs.yml
  pyproject.toml
  tests/input/session.yaml
  tests/output/.gitignore
  tests/test_session.py
  tripper/__init__.py
  tripper/backends/ontopy.py
  tripper/backends/rdflib.py
  tripper/convert/convert.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
  tripper/mappings/mappings.py
  tripper/namespace.py
  tripper/session.py
  tripper/triplestore.py
  tripper/triplestore_extend.py
  tripper/utils.py
Due: pylint, pylint-tests

Updated the datadoc cli tool to use the session.
  tripper/datadoc/clitool.py
  tripper/session.py
Due: pylint

Updated documentation of the datadoc tool
  docs/tools/datadoc.md
Due: none

pylint conf
  pyproject.toml
Due: none

Avoid importing yaml directly in session
  tripper/session.py
Due: pylint

Added test for get_names()
  tests/test_session.py
Due: pylint-tests

fix formatting
  tripper/triplestore.py
Due: pylint

update
  tripper/triplestore.py
Due: pylint

Updated keywords
  docs/datadoc/documenting-a-resource.md
  tripper/context/0.3/keywords.yaml
Due: none

Reenabled pre-commit action
  .hooks/generate-context-and-doc.sh
  .pre-commit-config.yaml
  docs/datadoc/keywords.md
  tests/output/.gitignore
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/keywords.py
Due: pylint

Cleaned up repository tree structure
  .hooks/generate-context-and-doc.sh
  tripper/context/0.2/requirements.yaml
  tripper/context/0.3/keywords.yaml
  tripper/context/characterisation/0.1/context.json
  tripper/context/characterisation/0.1/requirements.yaml
  tripper/context/imaging/0.1/context.json
  tripper/context/imaging/0.1/requirements.yaml
  tripper/context/physmet/0.1/context.json
  tripper/context/physmet/0.1/requirements.yaml
  tripper/context/tem/0.1/context.json
  tripper/context/tem/0.1/requirements.yaml
  tripper/datadoc/keywords.py
Due: pylint

Updated context
  docs/api_reference/datadoc/errors.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/keywords.md
  tests/datadoc/test_dataset.py
  tests/input/semdata.yaml
  tests/test_utils.py
  tripper/backends/sparqlwrapper.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/errors.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Removed multiple types from context
  docs/datadoc/keywords.md
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
Due: pylint, pylint-tests

Corrected misspelled rdf:langString
  docs/datadoc/keywords.md
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/input/semdata.yaml
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

updated context
  docs/datadoc/keywords.md
  tests/datadoc/test_dataset.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Updated tests
  tests/datadoc/test_dataset.py
  tests/input/custom_context.yaml
  tests/input/semdata.yaml
  tripper/__init__.py
  tripper/datadoc/dataset.py
  tripper/namespace.py
Due: pylint, pylint-tests

Updated tests to comply with DCAT-AP
  docs/datadoc/keywords.md
  tests/backends/datadocumentation_sample.yaml
  tests/backends/datadocumentation_sample2.yaml
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/input/semdata.csv
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/__init__.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests
