Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Added more tests
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/context/0.2/context.json
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Tested a few untested cases
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Slightly increased test coverage
  tests/dataset/test_dataset.py
  tests/input/semdata.yaml
Due: pylint-tests

Update dataset package
  tests/input/datasets.yaml
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint

Updated dataset figure
  docs/figs/dataset.drawio
Due: none

Fix failing tests
  tests/dataset/test_dataset.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Predefined EMMO namespace with checking and label lookup
  tripper/__init__.py
  tripper/namespace.py
  tripper/triplestore.py
Due: pylint

Workaround for pytest bug
  tripper/__init__.py
  tripper/convert/convert.py
  tripper/namespace.py
Due: pylint

Require rdflib to be installed for iri checking and label lookup
  tripper/__init__.py
Due: pylint

Lazy loading of checked namespaces
  tests/test_namespace.py
  tripper/__init__.py
  tripper/namespace.py
Due: pylint, pylint-tests

Updated test comment
  tests/test_namespace.py
Due: pylint-tests

cleanup
  tripper/namespace.py
Due: pylint

Clean up triplestore formatting
  tripper/triplestore.py
Due: pylint

Remove trailing white spaces
  tripper/triplestore.py
Due: pylint

Updated docstrings based on code review
  tripper/dataset/dataset.py
Due: pylint

Update tripper/dataset/dataset.py
  tripper/dataset/dataset.py
Due: pylint

Updated docstring based on code review.
  tripper/dataset/dataset.py
Due: pylint

Updated docstring of get_context() after code review.
  tripper/dataset/dataset.py
Due: pylint

Added missing tests of AttrDict
  tests/test_utils.py
Due: pylint-tests

Fix docstring
  tripper/dataset/dataset.py
Due: pylint

Updated documentation format for better rendering
  tripper/literal.py
Due: pylint

Updated documentation format for better rendering (#262)
  tripper/literal.py
Due: pylint

Removed commented out EMMO namespace as suggested by reviewer
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint

Update after code review
  tests/input/semdata.yaml
  tripper/dataset/__init__.py
  tripper/dataset/dataset.py
Due: pylint

Also renamed get_context() to get_jsonld_context() in tests
  tests/dataset/test_dataset.py
Due: pylint-tests

Skip otelib test if otelib is not installed
  tests/dataset/test_dataset.py
Due: pylint-tests

Updated SEMImage datamodel
  tests/input/semdata.yaml
  tripper/dataset/dataset.py
Due: pylint

Removed creating partial pipeline for the generator, since the generator was removed from the distribution
  tests/dataset/test_dataset.py
Due: pylint-tests

Updated requirements on Pint to allow v0.24, which agains opens for NumPy 2
  pyproject.toml
Due: none

bumped up requirements on pint
  pyproject.toml
Due: none

Started to prepare for Python 3.13
  pyproject.toml
  tests/mappings/test_cost.py
  tests/test_custom_backend.py
  tests/test_eval_function.py
Due: pylint-tests

Added Python 3.13 to supported languages
  pyproject.toml
  tests/output/.gitignore
Due: none

Only test the tests
  pyproject.toml
Due: none

Trying to readd pytest coverage
  pyproject.toml
Due: none

Also test for Python 3.13
  .github/workflows/ci_tests.yml
Due: none

Do not require DLite (yet) for Python 3.13
  pyproject.toml
Due: none

Updated requirements to allow Pint 0.24, which in turn opens for NumPy 2 (#265)
  pyproject.toml
Due: none

Add query for SPARQLwrapper
  tripper/backends/sparqlwrapper.py
Due: pylint

Predefined EMMO namespace with checking and label lookup (#261)
  tests/test_namespace.py
  tripper/__init__.py
  tripper/convert/convert.py
  tripper/namespace.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated required python version for typing-extensions
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
