Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Addressed suggestion from review by Francesca
  docs/tools/datadoc.md
  tripper/dataset/dataset.py
Due: pylint

Updated dataset figures
  docs/figs/dataset.drawio
Due: none

Added some domain-specific contexts and requirements
  tripper/context/0.2/requirements.yaml
  tripper/context/characterisation/0.1/context.json
  tripper/context/characterisation/0.1/requirements.yaml
  tripper/context/imaging/0.1/context.json
  tripper/context/imaging/0.1/requirements.yaml
  tripper/context/physmet/0.1/context.json
  tripper/context/physmet/0.1/requirements.yaml
  tripper/context/tem/0.1/context.json
  tripper/context/tem/0.1/requirements.yaml
Due: none

Fixed typos
  tripper/context/imaging/0.1/context.json
  tripper/context/imaging/0.1/requirements.yaml
  tripper/context/tem/0.1/requirements.yaml
Due: none

Added default_standard
  tripper/context/0.2/requirements.yaml
  tripper/context/physmet/0.1/requirements.yaml
  tripper/context/tem/0.1/requirements.yaml
Due: none

Updated the default context
  tripper/context/0.2/context.json
Due: none

Renamed the dataset subpackage to datadoc
  README.md
  docs/api_reference/datadoc/.pages
  docs/api_reference/datadoc/clitool.md
  docs/api_reference/datadoc/dataaccess.md
  docs/api_reference/datadoc/dataset.md
  docs/api_reference/datadoc/tabledoc.md
  docs/api_reference/dataset/.pages
  docs/api_reference/dataset/dataaccess.md
  docs/api_reference/dataset/datadoc.md
  docs/api_reference/dataset/dataset.md
  docs/api_reference/dataset/tabledoc.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  docs/index.md
  docs/tools/datadoc.md
  mkdocs.yml
  pyproject.toml
  tests/datadoc/dataset_paths.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Re-applied fixes from testing datadoc on a use case for PINK. (#285)
  docs/tools/datadoc.md
  tests/dataset/test_dataset.py
  tripper/dataset/datadoc.py
  tripper/dataset/dataset.py
Due: pylint, pylint-tests

Renamed the dataset subpackage to datadoc (#298)
  README.md
  docs/api_reference/datadoc/.pages
  docs/api_reference/datadoc/clitool.md
  docs/api_reference/datadoc/dataaccess.md
  docs/api_reference/datadoc/dataset.md
  docs/api_reference/datadoc/tabledoc.md
  docs/api_reference/dataset/.pages
  docs/api_reference/dataset/dataaccess.md
  docs/api_reference/dataset/datadoc.md
  docs/api_reference/dataset/dataset.md
  docs/api_reference/dataset/tabledoc.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  docs/datadoc/keywords.md
  docs/datadoc/prefixes.md
  docs/index.md
  docs/tools/datadoc.md
  mkdocs.yml
  pyproject.toml
  tests/datadoc/dataset_paths.py
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/__init__.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added fixes for the demonstration at the PINK demo
  docs/tools/datadoc.md
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Updated README
  README.md
  docs/index.md
Due: none

Renamed `datadoc load` to `datadoc fetch`
  docs/tools/datadoc.md
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Allow prefixed @id in search criteria
  tripper/datadoc/dataset.py
Due: pylint

Change pathlib to be pathlib and not as uri. This fixes opening in windows
  tripper/datadoc/dataset.py
Due: pylint

Fixed typo
  tripper/datadoc/dataaccess.py
Due: pylint

Added tests for new features
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tests/input/tem.csv
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Updated figures
  docs/figs/dataset.drawio
Due: none

Added prefixes arg to test for TableDoc.write_csv()
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Renamed emmo:DataSet to emmo:Dataset
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Removed backup-file from repo
  docs/figs/.$dataset.drawio.bkp
Due: none

Updated requirements on dlite-python
  pyproject.toml
Due: none

Updated dataset figure (again)
  docs/figs/dataset.drawio
Due: none

Updated dlite requirements
  pyproject.toml
Due: none

DLite requires Python >= 3.8
  pyproject.toml
Due: none

Rename dataset (#304)
  README.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  docs/figs/dataset.drawio
  docs/index.md
  docs/tools/datadoc.md
  pyproject.toml
  tests/datadoc/test_dataaccess.py
  tests/datadoc/test_dataset.py
  tests/datadoc/test_tabledoc.py
  tests/input/tem.csv
  tripper/datadoc/clitool.py
  tripper/datadoc/dataaccess.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Added fixes for the demonstration at the PINK demo (#299)
  docs/figs/.$dataset.drawio.bkp
  docs/figs/dataset.drawio
Due: none

Started implementing regex search
  tests/datadoc/test_dataset.py
  tripper/datadoc/clitool.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added support for username/password for sparqlwrapper
  tripper/backends/sparqlwrapper.py
Due: pylint

Fixed typo
  tripper/backends/sparqlwrapper.py
Due: pylint

Also include prefixes from context when saving a csv file to a triplestore.
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint

Include prefixes from context in the TableDoc.prefixes attribute.
  tripper/datadoc/tabledoc.py
Due: pylint

Trying to add context when saving
  tripper/datadoc/tabledoc.py
Due: pylint

Update readme file
  README.md
  docs/index.md
Due: none

Drop support for Python 3.7
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Drop support for Python 3.7 (#310)
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Updated the readme file (#311)
  README.md
  docs/index.md
Due: none

Test that prefixes are included when serialising a table
  tests/datadoc/test_tabledoc.py
Due: pylint-tests

Added support for username/password for sparqlwrapper (#308)
  tripper/backends/sparqlwrapper.py
Due: pylint

Include prefixes from context when populating a triplestore from a csv file (#309)
  tests/datadoc/test_tabledoc.py
  tripper/datadoc/dataset.py
  tripper/datadoc/tabledoc.py
Due: pylint, pylint-tests

Reformatted
  pyproject.toml
  tripper/datadoc/clitool.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
