Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Add criteria with no object
  tests/datadoc/test_dataset.py
  tests/input/semdata.yaml
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

None in key for criteria
  tests/datadoc/test_dataset.py
  tests/input/semdata.yaml
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Only None accepted as wildcard in search.
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added option for adding critiera as tuples
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Removed helper function which is not used
  tripper/datadoc/dataset.py
Due: pylint

Fix lintaing warnings for "xyz" is not a known attribute of "None"
  tripper/triplestore.py
Due: pylint

Fixed some minor bugs in keywords.py
  tripper/context/0.3/keywords.yaml
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
Due: pylint

Fixed some linting issues
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/process/0.1/context.json
  tripper/datadoc/keywords.py
Due: pylint

Made the definition of prefLabel consistent
  docs/datadoc/keywords.md
  tripper/context/0.3/keywords.yaml
Due: none

Corrected sorting of tuples with None
  tests/datadoc/test_dataset.py
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Added test that shows errors in dataset
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added a new Safety API key because the old one failed...
  .github/workflows/ci_tests.yml
Due: none

Removed name clash between parser prefix and keyword
  tests/input/semdata-context.json
Due: none

Fixed documentation of multi-resource dicts.
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  tests/datadoc/test_dictutils.py
Due: pylint-tests

Removed dead links
  docs/datadoc/customisation.md
  docs/tools/datadoc.md
Due: none

Improved test coverage
  tests/datadoc/test_dictutils.py
  tests/test_utils.py
Due: pylint-tests

Skipping invalid pylint error
  tests/datadoc/test_keywords.py
Due: pylint-tests

Fix linting warnings for bound prefixes (#431)
  tripper/triplestore.py
Due: pylint

Fixed minor bugs in keywords.py (#432)
  docs/api_reference/datadoc/dictutils.md
  docs/datadoc/customisation.md
  docs/datadoc/documenting-a-resource.md
  docs/datadoc/introduction.md
  docs/datadoc/keywords.md
  docs/tools/datadoc.md
  tests/datadoc/test_dataset.py
  tests/datadoc/test_dictutils.py
  tests/datadoc/test_keywords.py
  tests/datadoc/test_tabledoc.py
  tests/input/batchdata.csv
  tests/input/custom_keywords.yaml
  tests/input/semdata-context.json
  tests/test_utils.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/context/process/0.1/keywords.yaml
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/dictutils.py
  tripper/datadoc/errors.py
  tripper/datadoc/keywords.py
  tripper/datadoc/tabledoc.py
  tripper/utils.py
Due: pylint, pylint-tests

Added substitute_query() function
  tests/test_utils.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Update tripper/triplestore.py
  tripper/triplestore.py
Due: pylint

Improved warning message
  tripper/datadoc/dataset.py
Due: pylint

Added available() method and `check_url` to argument to Triplestore
  docs/session.md
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/input/session.yaml
  tripper/triplestore.py
Due: pylint, pylint-tests

Added documentation to session.yaml
  tests/input/session.yaml
Due: none

Updated documentation
  docs/developers.md
Due: none

Added argument annotations
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Use session to configure test backends
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/datadoc/dataset_paths.py
  tests/datadoc/test_dataset.py
Due: pylint-tests

Remove documentation of non-existing argument
  tripper/triplestore.py
Due: pylint

Added test
  tests/test_triplestore.py
Due: pylint-tests

Added iriquote argument
  tests/test_utils.py
  tripper/utils.py
Due: pylint, pylint-tests

Apply suggestion from @jesper-friis
  tripper/utils.py
Due: pylint

Added tests for errors and warnings
  tests/test_utils.py
Due: pylint-tests

Added substitute_query() function (#434)
  tests/test_utils.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Initial version
  tripper/query_builder/__init__.py
  tripper/query_builder/builder.py
  tripper/query_builder/elements.py
  tripper/query_builder/formatter.py
Due: pylint

Apply suggestion from @francescalb
  tripper/triplestore.py
Due: pylint

pre-commit reformatting
  tripper/utils.py
Due: pylint

Improved docstring
  tripper/triplestore.py
  tripper/utils.py
Due: pylint

Added available() method and check_url to argument to Triplestore (#437)
  docs/developers.md
  docs/session.md
  tests/backends/test_sparqlwrapper_graphdb_fuseki.py
  tests/input/session.yaml
  tests/test_triplestore.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Add additional docstrings
  tripper/query_builder/builder.py
Due: pylint
