Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Also added pytest.importorskip("rdflib") to test_extend_namespace()
  tests/test_utils.py
Due: pylint-tests

Improved wording
  docs/tutorial.md
Due: none

Use Python 3.9 in all CI/CD workflows (#196)
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

Updated test to new default length of hash-part of bnode IRIs
  tests/test_utils.py
Due: pylint-tests

Fix CI pylint E1101 (no-member)
  tripper/triplestore.py
Due: pylint

Try to fix no-member by initializing Namespace
  tripper/triplestore.py
Due: pylint

Fix private attribute
  tripper/triplestore.py
Due: pylint

Readded `cachemode` and `triplestore_url` arguments with a deprecation warning for backward compatibility.
  tripper/namespace.py
Due: pylint

Added change suggested by reviewer
  tests/test_literals.py
Due: pylint-tests

Updated failing test to "expected" Tripper behaviour
  tests/test_literals.py
  tests/test_triplestore.py
Due: pylint-tests

Updated comment as suggested by reviewer
  tests/backends/test_rdflib.py
Due: pylint-tests

Allow untyped literals (#184)
  tests/test_literals.py
  tests/test_triplestore.py
  tripper/literal.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Updated test to match new default length of hash-part of bnodes
  tests/test_utils.py
Due: pylint-tests

Ensure that untyped literal strings are quoted in n3 notation.
  tripper/literal.py
Due: pylint

Fixed test of n3 notation for untyped literals.
  tests/test_literals.py
Due: pylint-tests

Loosen req on pint to include 0.23 (newest)
  pyproject.toml
Due: none

Update docs/tutorial.md
  docs/tutorial.md
Due: none

Update tests/test_namespace.py
  tests/test_namespace.py
Due: pylint-tests

Correctly convert rdflib bnodes back to tripper (#187)
  tests/backends/test_rdflib.py
  tripper/backends/rdflib.py
Due: pylint, pylint-tests

As suggested by reviewer, readded the removed comment about the `triplestore` argument to Triplestore.bind() in the tutorial.
  docs/tutorial.md
Due: none

Improved formulation
  docs/tutorial.md
Due: none

Added more tests as required by reviewer
  tests/test_namespace.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/backends/rdflib.py
  tripper/namespace.py
Due: pylint, pylint-tests

Updated new tests
  tests/test_namespace.py
Due: pylint-tests

Added three more tests.
  tests/test_utils.py
Due: pylint-tests

Support for restrictions (#190)
  tests/backends/test_rdflib.py
  tests/test_literals.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/errors.py
  tripper/literal.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Enhanced the use of namespaces (#195)
  docs/tutorial.md
  tests/ontologies/food-more.ttl
  tests/output/.gitignore
  tests/test_namespace.py
  tests/test_sparql.py
  tests/test_triplestore.py
  tests/test_utils.py
  tripper/backends/rdflib.py
  tripper/namespace.py
  tripper/triplestore.py
  tripper/utils.py
Due: pylint, pylint-tests

Added a mypy ignore
  tripper/triplestore.py
Due: pylint

Added comment suggested by Francesca
  tripper/backends/rdflib.py
Due: pylint

Changed EMMO representation of function arguments from datasets to datum.
  tests/test_add_function.py
  tripper/namespace.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added more recognised keys to tripper.convert
  tripper/__init__.py
  tripper/convert/convert.py
  tripper/namespace.py
Due: pylint

Added sparql test.
  tests/test_sparql.py
Due: pylint-tests

Update namespaces to w3id
  tripper/namespace.py
Due: pylint

Added importskip for test_sparql_construct
  tests/test_sparql.py
Due: pylint-tests

Switched to w3id
  README.md
  docs/index.md
  docs/tutorial.md
  tests/conftest.py
  tests/test_add_function.py
  tripper/__init__.py
  tripper/convert/convert.py
  tripper/namespace.py
Due: pylint, pylint-tests

Add pre-commit.ci config
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .pre-commit-config.yaml
Due: none

Changed EMMO representation of function arguments from datasets to datum (#203)
  tests/test_add_function.py
  tripper/triplestore.py
Due: pylint, pylint-tests

Added test for SPARQL CONSTRUCT query via tripper (#207)
  tests/test_sparql.py
Due: pylint-tests

Allow prefix with digits, like "ss3"
  tripper/triplestore.py
Due: pylint

Update tripper/backends/rdflib.py
  tripper/backends/rdflib.py
Due: pylint
