Repository EMMC-ASBL/tripper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate && pre-commit autoupdate --freeze --repo https://github.com/SINTEF/ci-cd

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^.*\.(svg)$
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      args:
      - --profile=black
      - --filter-files
      - --skip-gitignore

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      args: [--line-length=79]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^tripper/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "types-pyyaml"
        - "pydantic"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.9.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=tripper
    - id: docs-landing-page
    # - id: update-pyproject

  - repo: local
    hooks:
    - id: generate-context-and-doc
      name: Generate JSON-LD context and documentation
      entry: .hooks/generate-context-and-doc.sh
      language: script
      pass_filenames: false
      stages: ["pre-commit"]

    # The doctests are too slow for running them in pre-commit.
    # Run it as a test instead.
    # - id: markdown-doctest
    #   name: Run doctest on markdown documentation
    #   entry: .hooks/markdown-doctest.sh
    #   language: script
    #   pass_filenames: false
    #   stages: ["pre-commit"]

    - id: pylint
      name: pylint
      entry: pylint
      args:
      - --rcfile=pyproject.toml
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$

    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Added possibility of adding more than one type or several values for one criterion
  tests/datadoc/test_dataset.py
  tests/input/semdata.yaml
  tripper/datadoc/dataset.py
Due: pylint, pylint-tests

Updated documentation so it can be tested
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Corrected typos
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Added missing IRI
  tripper/context/process/0.1/keywords.yaml
Due: none

Run mkdocs with Python 3.13 instead of 3.9
  .github/workflows/ci_cd_updated_main.yml
Due: none

import delete in documentation
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

typo
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Skip doctest on output
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

remove doctest on documentation...
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

remove more tests
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Test running doctest, remove output
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Run the tests
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

more testing
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Added acquire and load in doc
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Apply suggestions from code review
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Added __contains__() method to namespace
  tests/test_namespace.py
  tripper/namespace.py
Due: pylint, pylint-tests

Updated figure with basic relations
  docs/figs/dataset.drawio
Due: none

Updated figure with basic relations (#400)
  docs/figs/dataset.drawio
Due: none

Implements the following: - Allow search() to be called with full IRIs in criteria keys - Allow search() to be called with prefixed IRIs in criteria keys - Made repr of AttrDict more readable
  tests/datadoc/test_dataset.py
  tests/test_utils.py
  tripper/datadoc/context.py
  tripper/datadoc/dataset.py
  tripper/datadoc/keywords.py
  tripper/utils.py
Due: pylint, pylint-tests

Add prefixes to triplestore
  tripper/datadoc/dataset.py
Due: pylint

Also install emmontopy for doc build on python 3.13
  pyproject.toml
Due: none

Skip running doctest on session.md if Fuseki is not running
  tests/test_markdown_doctest.py
Due: pylint-tests

Build documentation with Python 3.12.
  .github/workflows/ci_cd_updated_main.yml
Due: none

Added missing tests
  tests/datadoc/test_context.py
Due: pylint-tests

Added hasCurator and hasCurationDate
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Added support for xsd:date
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Deprecate old methods
  tripper/datadoc/dataset.py
Due: pylint

Proper ISO 8601 handling of dates and times
  tests/test_literals.py
  tripper/literal.py
Due: pylint, pylint-tests

Update docs/datadoc/fetching-resources-from-a-triplestore.md
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Skip running doctest on session.md if Fuseki is not running (#403)
  tests/test_markdown_doctest.py
Due: pylint-tests

Build documentation with Python 3.12 (#404)
  .github/workflows/ci_cd_updated_main.yml
Due: none

Typos
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none

Changed keyword names according to suggestions from review
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Removed creationDate, since issued can be used instead.
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Renamed curatedBy to curator
  docs/datadoc/keywords.md
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
Due: none

Update tests/datadoc/test_dataset.py
  tests/datadoc/test_dataset.py
Due: pylint-tests

Apply suggestions from code review
  tests/datadoc/test_dataset.py
Due: pylint-tests

Added keywords `hasCurator` and `hasCurationDate` (#405)
  docs/datadoc/keywords.md
  tests/test_literals.py
  tripper/context/0.3/context.json
  tripper/context/0.3/keywords.yaml
  tripper/context/process/0.1/context.json
  tripper/literal.py
Due: pylint, pylint-tests

Fixed doctest
  docs/datadoc/fetching-resources-from-a-triplestore.md
Due: none
